* {
    font-family: Roboto;
}

#lateral_bar {
    position: absolute;
    top:0;
    bottom:0;
    width:250px;
    background-color: #ffffff;
    margin-top:-21px;
    text-align:center;
    position: fixed;
    overflow: hidden;
}

#central {
    position: absolute;
    top: 0;
    bottom:0;
    margin-left: 250px;
}

#body {
    padding-top: 20px;
    width:1070px;
    margin-left:50px;
    margin-top:30px;
}


body {
    padding: 0;
    margin:0;
    background-color: #f1f1f1;
}

.tag {
    font-family: 'roboto';
    font-variant: small-caps;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right:10px;
    background-color: yellow;
}

h1 {
    color:#444444;
    background-color:white;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color:#e8e8e8;
}

a {
    text-decoration: none;
}

#navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color:#e8e8e8;
    border-right-width:0px;
    border-left-width:0px;
}

#navigation_bar li {
    float: left;
}

#navigation_bar li a {
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#navigation_bar li a:hover {
    background-color: #444444;
    color:white;
    text-decoration: none;
}





/* Concerne l'affichage des images de template des projs que l'on impose à la taille 16/9 */
.proj_image{
  max-width:200px;
  max-height: 113px;
}

/* Concerne l'affichage des images de template des vidéos que l'on impose à la taille 16/9 */
.img_vid{
  max-width:200px;
  max-height: 113px;
}

/* Concerne l'affichage des légendes des vidéos */
.legende_vid_duree{
  margin-top: -23px;
  margin-right: 2px;
  text-align: right;
  color:white;
}

.legende_vid_titre{
  color:#167ac6;
  width: 200px;
  max-height: 40px;
  overflow: hidden;
  text-decoration: none;
}

.legende_vid_auteur{
  text-decoration: none;
  color:grey;
  width: 200px;
  font-size: 12px;
  margin-bottom: 15px;
}

a:hover{
  opacity: 0.7;
}

/* Concerne l'affichage des légendes des projs */
.legende_proj{
  color:#167ac6;
  width: 200px;
  max-height: 40px;
  overflow: hidden;
  text-decoration: none;
}

#lateral_bar h1{
    font-style:bold;
    padding-top:4px;
    padding-bottom:4px;
    color:#fdc500;
    border-right-width:0px;
    border-left-width:0px;
}

#lateral_bar a{
    padding-top:5px;
    padding-bottom:5px;
}

#body a {
    margin-left:5px;
    margin-right:5px;
}


/* Tout ce qui suit jusqu'au prochain bloc concerne le design du lecteur de vidéos*/
.titre_et_vues{
  background-color: #ffffff;
  padding-left:10px;
  box-shadow: 0px 0px 3px -1px;
}

.titre_et_vues_titre{
  padding-top:6px;
  font-size: 28px;
}

.titre_et_vues_date{
  font-size: 12px;
  margin-top: -25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E2E2E2;

  margin-left: -2px;
  padding: 0;
  width: 880px;
}

.titre_et_vues_vues_et_jaime{
  float: right;
  margin-top: -60px;
  margin-right: 10px;
}

.titre_et_vues_vues_et_jaime_vues{

  color: #666666;
  font-size: 20px;
  text-align: right;
}

.titre_et_vues_vues_et_jaime_nb_jaime{
  float:left;
  padding: 2px;
  text-align: right;
  /*box-shadow: 0px 0px 3px -1px;*/
  margin-bottom: 5px;

}

.titre_et_vues_vues_et_jaime_bouton_jaime{
  float: right;
  color:white;
  padding: 2px;
  text-align: center;
  box-shadow: 0px 0px 3px -1px;

}
