* {
    font-family: Roboto;
}


#central {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;

}

#body {
    display: table;
    margin: 0 auto;
    margin-top:71px;

}

/*
#body a {
    margin-left:5px;
    margin-right:5px;
}*/

body {
    background-color: #f1f1f1;
}




/*
-----------------------------
Style de la bar de navigation
-----------------------------
*/
#navigation_bar{
    z-index: 99999;
}

#navigation_bar ul {
    list-style-type: none;
    float: left;
    margin: 0;
    margin-left: 250px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color:#e8e8e8;
    border-right-width:0px;
    border-left-width:0px;
    height:48px;

}

#navigation_bar li {
    float: left;
}

#navigation_bar li a {
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#navigation_bar li a:hover {
    background-color: #444444;
    color:white;
    text-decoration: none;
}


/*
------------------------
Style de la Lateral Bar
-----------------------
*/
.navigation_bar_titre{
  float: left;

}

.navigation_bar_menu{
  float: left;

}

/* Influence de la barre latérale sur le body
#lateral_bar:hover ~ #body{
  padding-left: 200px;
}*/

/* Pour le titre jtx*/
#navigation_bar h1 {
    float: left;
    position:fixed;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 97px;
    padding-left: 97px;
    margin: 0;

    height:40px;
    color:#FDC500;
    background-color:white;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color:#e8e8e8;
    border-right-width:0px;
    border-left-width:0px;

}

input[type=checkbox]:checked ~ #lateral_bar {
   display: unset;
}

.menu_button{
background-color: white;
position: fixed;
margin-top: 5px;
margin-left: 7px;
visibility: visible;
z-index: 1;
padding: 7px;
padding-bottom: 3px;
opacity: 0.6;
}

.menu_button:hover{
  opacity: 1;
}

.menu_button_img{
  width: 25px;
}


#lateral_bar{
  display: none;
  font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color:#e8e8e8;
    position: fixed;
    overflow-y:scroll;
    top:71px;
    bottom: 0;
    left:0;
    width:250px;

    background-color: #ffffff;
    margin-top:-22px;
    text-align:center;
    position:fixed;
    -webkit-transition: margin-left 0.3s; /* Safari */
    transition: margin-left 0.3s;
    transition-timing-function: ease-out;
}



#lateral_bar h1 {

    padding-top:4px;
    padding-bottom:4px;
    color:#fdc500;
    border-right-width:0px;
    border-left-width:0px;
}

#lateral_bar h3 {
  color: #444444;
  font-variant: small-caps;
}

.lateral_bar_supprimer{
  background-color:  white;
  color:#444444;
  border-radius: 100px;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  border-width: 1px;
  border-color: #444444;
  border-style:solid;
  font-size: 10px;
}

.lateral_bar_supprimer:hover{
  background-color:  #444444;
  color:white;
}

/*
#lateral_bar a {
    padding-top:5px;
    padding-bottom:5px;
    text-decoration: none;
    color:black;
}*/
.lateral_bar_button{
  width: 200px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: table;
  margin: 0 auto;
}

.lateral_bar_button_a{
  text-decoration: none;
  font-weight: lighter;
  color: #444444;
}

.lateral_bar_button_a:hover, .lateral_bar_button_a:hover .lateral_bar_button{
    background-color: #444444;
    color:white;
}

#lateral_bar hr {
  display: table;
  margin: 0,auto;
  height: 1px;
  border: 0;
  border-top: 1px solid #E2E2E2;

  padding: 0;
  width:200px;

}

/*
---------------
Style des tags
--------------
*/

.tag {
    font-family: 'roboto';
    font-variant: small-caps;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right:10px;
    background-color: yellow;
}

/*
--------------------------------------
Style des listes de vidéos et de projs
--------------------------------------
*/

.liste_proj a{
  text-decoration: none;
}

.liste_videos a {
  text-decoration: none;
}



/* Concerne l'affichage des images de template des projs que l'on impose à la taille 16/9 */
.proj_image{
  max-width:200px;
  max-height: 113px;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  margin-bottom: 4px;
}

/* Concerne l'affichage des images de template des vidéos que l'on impose à la taille 16/9 */
.img_vid{
  max-width:200px;
  max-height: 113px;
}

/*
-------------------------------------------
Concerne l'affichage des légendes des vidéos
------------------------------------------
 */
.legende_vid_duree{
  margin-top: -20px;
  margin-right: 3px;
  text-align: right;
  color:white;
  font-size: 13px;
  text-shadow: 0px 0px 3px black;
}

.legende_vid_titre{
  color:#167ac6;
  width: 200px;
  max-height: 40px;
  overflow: hidden;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}





/*
---------------------------------------------
Concerne l'affichage des légendes des projs
---------------------------------------------
*/

.legende_proj{
  color:#167ac6;
  width: 200px;
  max-height: 40px;
  overflow: hidden;
  text-decoration: none;
}




/*
-------------------------------------------------------------------------------
Tout ce qui suit jusqu'au prochain bloc concerne le design du lecteur de vidéos
-------------------------------------------------------------------------------
*/

.titre_et_vues{
  background-color: #ffffff;
  box-shadow: 0px 0px 3px -1px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 1px;
}

.titre_et_vues_titre{
  padding-top:6px;
  font-size: 28px;
  max-width:85%;
}

.titre_et_vues_date{
  font-size: 12px;
  margin-top: -25px;
}

#titre_et_vues_id hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E2E2E2;
  margin-left: -2px;
  padding: 0;
}

.titre_et_vues_vues_et_jaime{
  float: right;
  margin-top: -60px;
}

.titre_et_vues_vues_et_jaime_vues{
  color: #666666;
  font-size: 20px;
  text-align: right;
}

.titre_et_vues_vues_et_jaime_nb_jaime{
  margin-top: 5px;
  float:left;
  padding: 2px;
  padding-right: 15px;
  text-align: right;
  /*box-shadow: 0px 0px 3px -1px;*/
  margin-bottom: 5px;
  font-size: 12px;
}

.titre_et_vues_vues_et_jaime_bouton_jaime_vert{
  margin-top: 5px;
  color:white;
  float:right;
  padding: 2px;
  text-align: center;
  box-shadow: 0px 0px 3px -1px;
  font-size: 12px;
  border-radius: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: #50b649;
  background-color: #50b649;
}

.lien_jaime_vert :hover{
  background-color: white;
  border-radius: 6px;
  color : #50b649;
}

.titre_et_vues_vues_et_jaime_bouton_jaime_rouge{
  margin-top: 5px;
  color:white;
  float:right;
  padding: 2px;
  text-align: center;
  box-shadow: 0px 0px 3px -1px;
  font-size: 12px;
  border-radius: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: red;
}

.lien_jaime_rouge :hover{
  background-color: white;
  border-radius: 6px;
  color : red;
}

.titre_et_vues_haut_deuxieme_partie{
  margin-right: 10px;
}

.titre_et_vues_duree{
  float:right;
}

.titre_et_vues_auteurs{
  float: left;
}

.titre_et_vues_tags{
  font-size: 12px;
  color:#666666;
  padding-bottom: 5px;
}

.description_video{
  font-size: 12px;
  margin-top: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  padding-left:10px;
  box-shadow: 0px 0px 3px -1px;
  margin-bottom: 0px;
}

.commentaires_video{

  max-height: 500px;
  overflow-y: scroll;
  margin-top: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  padding-left:10px;
  box-shadow: 0px 0px 3px -1px;
}

.commentaires_video_titre{
  color: #666666;
  font-size: 15px;

}

.commentaires_nom{
  font-weight: bold;
  font-variant: small-caps;

}

.commentaires_commentaires{
    font-size: 12px;
    width: inherit;
}

.commentaires_video_faire{
  margin-top: 20px;
  padding-right: 10px;
  padding-top: 10px;

  background-color: #ffffff;
  padding-left:10px;
  box-shadow: 0px 0px 3px -1px;
  margin-bottom: 50px;
}


textarea{
width: 90%;
max-width: 90%;
min-width: 90%;
height: 100%;
max-height:  100%;
min-height:  100%;
margin-bottom: 5px;
}/*

#comment{
  padding: 0px;
  float: left;
  margin-bottom: 100px;
}*/

#bouton_comment{
  float: right;
}

#commentaires_video_id hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E2E2E2;
  margin-left: -2px;
  padding: 0;}

/*
----------------------------------------------
Fin du design de l'interface de lecture vidéo
----------------------------------------------
*/

/*
-------------------------------------------
Design de l'interface de lecture d'une proj
-------------------------------------------
*/

.description_video{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Checkbox Hack */
/*On cache le petit bouton*/
input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.description_video label {
/*  -webkit-appearance: square-button;
  -moz-appearance: button;
  display: inline-block;*/
  background-color: white;
  color: #444444;
  padding: 5px;
  cursor: pointer;
}

.description_video label:hover {
/*  -webkit-appearance: square-button;
  -moz-appearance: button;
  display: inline-block;*/
  background-color: #444444;
  color:white ;
  border-radius: 6px;
}
/* Default State */
.description_video_proj{
  -webkit-transition: height 0.3s; /* Safari */
  transition: height 0.3s;
  transition-timing-function: ease-out;
  overflow: hidden;
}


/* Toggled State */
input[type=checkbox]:checked ~ .description_video_proj{
   height: 0px;
}

.description_video_proj ol li{
padding-top: 5px;
}

.proj_video_voir{
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
  color: #777777;
  box-shadow: 0px 0px 3px -1px;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

.proj_video_voir:hover{
  background-color: #777777;
  color:white;
}


.proj_video_titre{
  text-decoration: none;
  color:black;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  padding:3px;
  color:#444444;
}

.proj_video_titre:hover{
  background-color: #444444;
  color:white;
}

@media screen and (max-width: 1000px)  {
    .container {
        width: 630px;
    }
}

@media screen and (max-width: 1200px)  and (min-width: 1000px) {
    .container {
        width: 840px;
    }
}
@media screen and (min-width: 1200px)  {
    .container {
          width: 1050px;
    }
}

.container{
  background-color: white;
  box-shadow: 0px 0px 3px -1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.container h1{
  padding-top: 5px;
  font-size:18px;
  font-weight:bolder;
}

.container ul{
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.container li{
  display: inline-block;
}

.container li a {
    display: inline-block;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container li a:hover {
    background-color: #444444;
    color:white;
    text-decoration: none;
}

.container figure{
  display:table-cell;
  width: 200px;
}


.legende_vid_titre:hover{
  color :color:#167ac6;
  text-decoration: underline;
}

.legende_vid_auteur{
  text-decoration: none;
  color:grey;
  width: 200px;
  font-size: 12px;
  margin-bottom: 15px;
}

.legende_vid_auteur a{
  text-decoration: none;
  color:grey;
  width: 200px;
  font-size: 12px;
  margin-bottom: 15px;
}

.legende_vid_auteur a:hover{
  text-decoration: underline;
}

.liste_videos{
  display: table;
  margin: 0 auto;
}

.bloc_video{
  width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}


/*Numéro de page en dessous des pages*/

.choisir_page{
  margin: 10px 0px;
  color:grey;
  text-align: center;
}

.choisir_page a{
  text-decoration: none;
  color:grey;
}

.choisir_page a:hover{
  text-decoration: underline;
}

.suggestion{
  width:220px;
  padding-left: 30px;
  vertical-align:top;
  display:table-cell;
  padding-top: 0px;
  margin-bottom: 50px;
}

.container_suggestion{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  margin-top: 0px;
  background-color: white;
  box-shadow: 0px 0px 3px -1px;

}

.container_suggestion h1{
  font-size:18px;
  font-weight:bolder;
}

.container_suggestion figure{
  display:table-cell;
  width: 200px;
}

.proj_titre_video{
  float: left;
}

.proj_a_suivre{
  padding-bottom: 5px;
  text-align: right;
}
