{% extends 'base.html' %}
{% block body %}

{% if message %}
{{message}}
{% endif %}

<h1>Ajout d'une proj</h1>

<form action="{% url 'add_proj' %}" method="post">

    {% csrf_token %}

    <label for="titre">Titre :</label>
    <input class="form-control" id="titre" size="30" type="text" value="Proj de février" name="titre"/>
    <br/><br/>



    <label for="folder">Dossier :</label>
    <input class="form-control" id="folder" size="60" type="text" name="folder" value="Evenements/Semaine_internationale/Houlgate_2017"/>
    <br/><br/>

        
    
    <label for="promo">Promo :</label>
    <input class="form-control" id="promo" type="number" name="promo" value="2015" min="1991" max="2030" step="1"/>
    <br/><br/>

       

    <label for="category">Catégorie :</label>
    <select class="form-control" name="category">
    {% for c in categories %}
        <option value="{{c.id}}">{{c.titre}}</option>
    {% endfor %}
    </select>
    <br/><br/>

    <input class="btn btn-success" type="submit" value="Ajouter la proj"/>

</form>

{% endblock %}
