  {% load static %}
{% load app_filters %}

<!DOCTYPE html>
<html lang='fr'>

<head>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115095479-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115095479-1');
</script>




	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KX8MT5L');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'>
  <title>JTX</title>
  
  <meta property="og:type" content="video"/>
  <meta property="og:title" content="Site du JTX"/>
  <meta property="og:description" content="Le site disruptif de l'assocation télévisuelle de l'École polytechnique, aka qui se branle"/>
  <meta property="og:image" content="http://binet-jtx.com/videos/affiches/JTX%202016/logo%202016.png"/>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}" />
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
   <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css" />
   <link href="http://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
   <!-- <link href="{% static 'admin/css/videojs-qualityselector.css'%}"  rel="stylesheet"> -->

       

   <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

</head>

<!-- <body onload="checkbar()"> -->

  <style>
    {% for c in "categories"|get_list %}
      .cat_{{c.id}}{
        color:{{c.color}};
        border-color:{{c.color|replace_opacity:'0.7'}};
        width:10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .cat_{{c.id}}:hover{
        color:{{c.color}};
        background-color: {{c.color|replace_opacity:'0.07'}};
        text-decoration: none;
      }
    {% endfor %}
  </style>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX8MT5L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  

    

      <div id="central" >
         
        <div id="navigation_bar" class="d-flex justify-content-start align-items-center" style="z-index:100;">


          
            <a  class="p-2" onclick="h_r_lateral_bar()" style="cursor:pointer">
              <img class="" style="width:25px;" src='{% static "admin/img/opticons/three-bars.svg" %}' alt="Menu">
            </a>
          

       
          <a href="{% url 'index' %}" id="titre_site" class="d-none  d-md-block" style="width:150px;text-align:center;padding-bottom:5px;">
              <!-- <div id="entourer_titre"></div> -->
               <span id="titre_site_h1" class="" style="" > JTX </span>
           
          </a>

          <div id="search_bar" class="" style="width:100%;max-width:600px;">
              <form method="get" class="form-inline" action="{% url 'index' %}search/">
                <input autocomplete="off" id="search_input" placeholder="Rechercher" onblur="cacher_results()" 
                onfocus="afficher_results()" name="q" class="form-control m-2 " onkeydown="select_lien(event)" 
                onkeyup="showHint(event,this.value)" type="text" style="width:100%;min-width:0px;"
                
                >
              
                
              </form>
            <div id="txtHint" role="listbox" class="m-2  shadow-div"  onmouseover="lien_ok(1)" onmouseout="lien_ok(0)"
            style="position:absolute;background-color:white;z-index:200;top:40px;"></div>
            
            </div>
          <!-- <div id="txtHint" onmouseover="lien_ok(1)" onmouseout="lien_ok(0)" style="margin-left: 221.067px;"> -->
          <!-- </div> -->
          {% if request.user.is_authenticated == False %}
          <a class="ml-auto btn btn-primary m-1 d-none d-md-block" href="/org">
            
              Se connecter
          </a>

          {% endif %}


         
 

        </div>

 
  <!-- A changer pour mettre un lien absolu! -->

  

  <div id="lateral_bar">

      
      
      {% if request.user.is_authenticated %}
          <h3 class="dropdown-header" style="margin-top:10px;">Bonjour {{ request.user.first_name }} {{ request.user.last_name }}</h3>
           
          

          <a class="dropdown-item" href="{% url 'logout' %}">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/sign-out.svg" %}" alt="hello"></div>
            <div class="">
              <!-- <img src={% static "admin/img/deconnexion.png" %} alt="->" style="width:10px;">  -->
              Se déconnecter
            </div>
          </div>
          </a>

         

          {% else %}
          <h3 class="dropdown-header" style="margin-top:10px;">  
            <div class="d-flex justify-content-between">
              <div>Connexion</div>
              <div><img src="{% static "admin/img/opticons/key.svg" %}" alt="hello"></div>
            </div>
          </h3>
        <a class="dropdown-item" href="/org">
          <div class="" id="connexion">
              Connexion (polytechnique.org)
          </div>
        </a>


        <a class="dropdown-item" href="{% url 'login' %}?next={% url 'index' %}">
          <div class="" id="connexion">
              Connexion manuelle
          </div>
        </a>

      {% endif %}
       
          <div class="dropdown-divider"></div>
          <h3 class="dropdown-header"> <span class="glyphicon glyphicon-option-vertical" ></span>Menu</h3>

          <a href="{% url 'index'  %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/home.svg" %}" alt="hello"></div>
                  <div class="">
                    Accueil
                  </div>
          </div>
          </a>

          <a href="{% url 'projs' 1 %}" class="dropdown-item">
            <div class="d-flex ">
              
              <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/eye.svg" %}" alt="hello"></div>
              <div>Projections</div> 
            </div>
          </a>

          
          <a href="{% url 'videos' 1 %}" class="dropdown-item">

            <div class="d-flex ">
              <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/device-camera-video.svg" %}" alt="hello"></div>
              <div>Vidéos</div>
              
            </div>
          </a>

          {% if request.user.is_authenticated %}
          <a href="{% url 'favorites' 1 %}" class="dropdown-item">
              <div class="d-flex ">
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/star.svg" %}" alt="hello"></div>
                  <div >
                      Favoris
                  </div>
                </div>
          </a>
          



          <a href="{% url 'tags' %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/code.svg" %}" alt="hello"></div>
                <div class="">
                  <span class="glyphicon glyphicon-text-background"></span> Tags
                </div>
          </div>
          </a>

          <a href="{% url 'playlists' %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/code.svg" %}" alt="hello"></div>
                <div class="">
                  <span class="glyphicon glyphicon-text-background"></span> Playlists
                </div>
          </div>
          </a>

          {% endif %}

          <a href="{% url 'jtx' 2015 %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/bookmark.svg" %}" alt="hello"></div>
            <div class="">
              JTX 2015
            </div>
          </div>
          </a>

          <a href="{% url 'jtx' 2016 %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/bookmark.svg" %}" alt="hello"></div>
            <div class="">
              JTX 2016
            </div>
          </div>
          </a>
          {% if request.user.is_authenticated %}
            {% if request.user.utilisateur.can_proj %}
          <a href="{% url 'create_playlist' %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/bookmark.svg" %}" alt="hello"></div>
            <div class="">
              Créer une playlist
            </div>
          </div>
          </a>
          <a href="{% url 'messages_facade' %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/mail.svg" %}" alt="hello"></div>
            <div class="">
              Regarder les messages reçus
            </div>
          </div>
          </a>
          <a href="{% url 'stats' %}" class="dropdown-item">
              <div class="d-flex ">
                  
                  <div style='margin-right:5px;'><img src="{% static "admin/img/opticons/dashboard.svg" %}" alt="hello"></div>
            <div class="">
              Statistiques
            </div>
          </div>
          </a>

            {% endif %}
          {% endif %}

          {% if request.user.is_authenticated %}
          <div class="dropdown-divider"></div>

          <h3 class="dropdown-header"> Projections épinglées</h3>
          <span id='proj_epingle_liste'>
          {% for f in request.user.favorite_proj_set.all %}
          {% if f.epingle %}
          <span id='proj_epingle_id_+{{f.proj.id}}'>
          <a class="dropdown-item" href="{% url 'proj' f.proj.id %}">
              <div class="">
                  {{ f.proj.titre }}
                  <!--
                  <a href="{% url 'remove_favorite_proj' proj_id=f.proj.id home=1 %}" class="lateral_bar_supprimer">X</a>
                  -->
              </div>
          </a>
          </span> {% endif %} {% endfor %}
          </span>
         
          <div class="dropdown-divider"></div>

          <h3 class="dropdown-header"> Vidéos épinglées</h3>
          <span id='video_epingle_liste'>
          {% for f in request.user.favorite_set.all %}

          {% if f.epingle %}
            <span id='video_epingle_id_+{{f.video.id}}'>
              <a class="dropdown-item" href="{% url 'video' f.video.id %}">
                <div class="">

                  <div class="lateral_bar_button_text">
                      {{ f.video.titre }}
                  </div>

                </div>
              </a>
            </span> {% endif %} {% endfor %}
          </span>

                 {% endif %}

           <div class="dropdown-divider"></div>

           <span>
            <span id='video_epingle_id_+{{f.video.id}}'>
              <a class="dropdown-item" href="https://docs.google.com/forms/u/0/d/e/1FAIpQLScnWrGA33Z6HbHlhkl-g0sqKDzbGaz16Yd0MVAl8hHbbWc_5g/viewform?usp=sf_link" target="_newtab">
                <div class="">

                  <div class="lateral_bar_button_text">
                     	Signaler un Bug
                  </div>

                </div>
              </a>
            </span>
          </span>


   












         
        </div>



          <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        
        
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap4.min.js"></script>

        
        



        <div id="body" >



              <div class="container-fluid" style="max-width:1400px;padding-right:10px;padding-left:10px;" >
                    {% if titre_tag %}
                    <div class="card">
                      <div class="card-header" >
                        <h2 class="">Tag affiché : <span class="tag" style="font-size:20px;">{{titre}}</span></h2>
                      </div>
                      <div class="card-body container-fluid" style="background-color:white;">

         
                    {% elif titre and not titre_search %}
                    <div class="card">
                        <div class="card-header" >
                          <h2 class="">{{titre}}</h2>
                        </div>
                        <div class="card-body container-fluid" style="background-color:white;">
                        
                    {% endif %} 

              {% block body %} 
              {% endblock %}

                    {% if titre_tag %}
                    </div>
                  </div>
                    {% elif titre and not titre_search %}
                      </div>     
                    </div>        
                    {% endif %} 
                
                    {% if pages and page and adress %}
                    <br>    
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                         
                         
                          {% for p in pages %} 
                            {% if p|page_toujours:pages %}
                            
                              {% if p == pages|length|add:"-1" and page < pages|length|add:"-4"%}
                              <li class="page-item"><a class="page-link" href="">...</a></li>
                              {% endif %}

                              {% if id %}
                              <li class="page-item {% if p == page %} active {% endif %}"><a class="page-link" href="{% url adress id p %}">{{p}}</a></li>
                              {% else %}
                                <li class="page-item {% if p == page %} active {% endif %}"><a class="page-link" href="{% url adress p %}">{{p}}</a></li>
                              {% endif %}
                              
                              {% if p == 2 and page > 5%}
                              <li class="page-item"><a class="page-link" href="">...</a></li>
                              {% endif %}

                            {% else %}
                              {% if p != page and p|abs_minus:page  %} 
                                {% if id %}
                                  <li class="page-item"><a class="page-link" href="{% url adress id p %}">{{p}}</a></li>
                                  
                                {% else %}
                                  <li class="page-item"><a class="page-link" href="{% url adress p %}">{{p}}</a></li>
                                
                                {% endif %} 
                              {% elif p == page %}
                                <li class="page-item active"><a class="page-link" href="#">{{p}}</a></li>
                              {% endif %}   
                            {% endif %}
                          {% endfor %}
      
                          
                        </ul>
                    </nav>
      
                    <!-- <div class="choisir_page">
                      Page : {% for p in pages %} {% if p != page %} {% if id %}
                      <a href="{% url adress id p %}">{{p}}</a> {% else %}
                      <a href="{% url adress p %}">{{p}}</a> {% endif %} {% else %}
                      <b style="color:black">{{p}}</b> {% endif %} {% endfor %}
      
                    </div> -->
                    {% endif %}
                <div class="alert alert-secondary" role="alert" style='margin-top:50px; '>
                        Site codé par Thibault Dardinier et Guillaume Vidon du JTX2015.
                </div>
              </div>


             

              



            </div>
          </div>
        </div>
      </div>
    </div>
       
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script> -->

     
</body>


<script>




  checkbar();


  
  function highlight(phrase,mot){
    var val=phrase.search(new RegExp(mot, 'gi'));
    var correct=phrase.slice(val,val+mot.length);
    return phrase.replace(new RegExp(mot, 'gi'), "<span class='highlight_word'>"+correct+"</span>");
  }
  

  function showHint(e, str) {
    var keycode;
    if (window.event) {
      keycode = window.event.keyCode;
    }
    else if (e) {
      keycode = e.which;
    }

    if (keycode == 40 || keycode == 38) {

    }
    else {



      if (str.length == 0) {
        document.getElementById("txtHint").innerHTML = "";
        document.getElementById("txtHint").style.display = "none";
        return;
      } else {

        var showData = $('#txtHint');

        var url = "{% url 'suggestions' '' %}";
        url = url.substring(0, url.length - 1);
        $.getJSON(url + str, function (data) {

          var videos = data.videos.map(function (video) {
            var s = video.titre;
            if (video.titre.length > 80) {
              s = video.titre.substring(0, 80);
            }
            return '<a onmouseover="mouse_select(this)" role="option" onmouseout="mouse_deselect(this)" class="dropdown-item search_result" style="white-space: normal;" href="' + video.url + '"><div class="">' + highlight(s,str) + "</div></a>";

          });


          var jtxmen = data.auteurs.map(function (jtxman) {
            return '<a onmouseover="mouse_select(this)" role="option" onmouseout="mouse_deselect(this)" class="dropdown-item search_result" style="white-space: normal;" href="' + jtxman.url + '"><div class="">' + highlight(jtxman.firstname + " " + jtxman.lastname + " (" + jtxman.promo,str) + ")</div></a>";

          });

          var jtx = data.jtx.map(function (jtx) {
            return '<a onmouseover="mouse_select(this)" role="option" onmouseout="mouse_deselect(this)" class="dropdown-item search_result" style="white-space: normal;" href="' + jtx.url + '"><div class="">' + highlight(jtx.titre,str) + "</div></a>";

          });

          var projs = data.projs.map(function (proj) {
            var s = proj.titre;
            if (proj.titre.length > 80) {
              s = proj.titre.substring(0, 80);
            }
            return '<a onmouseover="mouse_select(this)" role="option" onmouseout="mouse_deselect(this)" class="dropdown-item search_result" style="white-space: normal;" href="' + proj.url + '"><div class=""> ' + highlight(s,str)+ "</div></a>";

          });

          showData.empty();
          
          if(jtxmen.length>0){
            jtxmen=["<div class='dropdown-header' style='color:#3498db'>JTXWomen.Men</div>"].concat(jtxmen);
          }

          if(videos.length>0){
            videos=["<div class='dropdown-header' style='color:#27ae60'>Vidéos</div>"].concat(videos);
            if(projs.length>0){
              videos=["<div class='dropdown-divider'></div>"].concat(videos);
            }
            if(jtxmen.length>0){
              videos=videos.concat(["<div class='dropdown-divider'></div>"]);
            }
          }
          else{
            if(jtxmen.length>0 && projs.length>0){
              jtxmen=["<div class='dropdown-divider'></div>"].concat(jtxmen);
            }
          }

          if(projs.length>0){
            projs=["<div class='dropdown-header' style='color:#CC181E'>Projections</div>"].concat(projs);
          }

          if(jtx.length>0){
            jtx=["<div class='dropdown-header' style='color:#FDC500;'>Pages JTX</div>"].concat(jtx);
          }
          

          if (videos.length + jtxmen.length + projs.length + jtx.length) {
            elements = projs.concat(videos).concat(jtxmen).concat(jtx);

            document.getElementById("txtHint").style.display = "unset";
            var content = elements.join(' ');
            //var list = $('<ul />').html(cont  ent);
            showData.append(content);

          }
          else {
            document.getElementById("txtHint").style.display = "none";
          }
        });

      }
    }
  }


  function checkbar() {

    // positionne_suggestions();

    var show = getCookie("show");
    var taille=$(window).width();

    if (show != "") {
      if (show == 'oui' && taille>1800) {

        $("#lateral_bar").show();
      }
      else {
        $("#lateral_bar").hide();
      }
    }
    else {
      $("#lateral_bar").hide();

    }
  }

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function afficher_results() {
    var x = document.getElementById("search_input").value;
    var y = document.getElementById("txtHint").innerHTML;
    if (suivre_lien == 0 && x != "" && y != "") { document.getElementById("txtHint").style.display = "unset"; }
  }

  function cacher_results() {
    if (suivre_lien == 0) { document.getElementById("txtHint").style.display = "none"; }
  }

  function h_r_lateral_bar() {

    lateral_bar=$("#lateral_bar");

    if (lateral_bar.is(":visible")) {

      lateral_bar.hide(200),

      setCookie("show", "non", 365);
    }

    else {
      lateral_bar.show(200);

      setCookie("show", "oui", 365);
    }

  }

  function positionne_suggestions() {
    console.log("hello");
    var x = document.getElementById("search_input");
    var y = document.getElementById("txtHint");
    y.style.width=x.clientWidth+"px";
    
    console.log(y.style.width);
    // if (typeof x != "undefined") {
    //   var rect = x.getBoundingClientRect();
    //   document.getElementById("txtHint").style.marginLeft = (rect.left + 6).toString() + "px";
    // }

  }

  function lien_ok(i) {
    suivre_lien = i;
  }

  function create_select() {
    select = -1;
  }
  create_select();

  function mouse_select(y) {
    var x = document.getElementsByClassName('search_result');
    if (select >= 0 && select < x.length) { x[select].style.backgroundColor = "white"; }
    
    y.style.backgroundColor = "#c8c8c8";

    for (var i = 0; i < x.length; i++) {
      if (y == x[i]) { select = i; }
    }
  }

  function mouse_deselect(y) {
    var x = document.getElementsByClassName('search_result');
    y.style.backgroundColor = "white";
    if (select >= 0 && select < x.length) { x[select].style.backgroundColor = "white"; }
    select = -1;
  }


  function select_lien(e) {
    var keycode;
    if (window.event) {
      keycode = window.event.keyCode;
    }
    else if (e) {
      keycode = e.which;
    }

    if (keycode == 40) {

      var x = document.getElementsByClassName('search_result');


      if (select < (x.length - 1)) {

        if (select >= 0) { x[select].style.backgroundColor = "white"; }

        select = 1 + select;

        x[select].style.backgroundColor = "#c8c8c8";

      }
    }
    else if (keycode == 38) {
      var x = document.getElementsByClassName('search_result');


      if (0 < select) {

        if (select < x.length) { x[select].style.backgroundColor = "white"; }

        select = select - 1;

        x[select].style.backgroundColor = "#c8c8c8";


      }
    }
    else if (keycode == 13) {
      var x = document.getElementsByClassName('search_result');

      //x[select].click();
      x[select].click();
      e.preventDefault();
    }
  }



  var suivre_lien = 0;

  window.onresize = positionne_suggestions;
  positionne_suggestions();
  console.log(suivre_lien);

</script>


</html>
