{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
  <title>JTX</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body onload="checkbar()">



<div id="central">

    <a href="https://docs.google.com/forms/u/0/d/e/1FAIpQLScnWrGA33Z6HbHlhkl-g0sqKDzbGaz16Yd0MVAl8hHbbWc_5g/viewform?usp=sf_link" target="_newtab">
    <div class="bouton_suggestions">
      Signaler un bug\Proposer une suggestion
    </div>
    </a>


    <button type="button" class="menu_button" onclick="h_r_lateral_bar()">
      <img class="menu_button_img" src={% static "admin/img/menu.png" %} alt="Menu" >
    </button>


  <div id="navigation_bar">
    <a href="{% url 'index' %}">
        <!-- <div id="entourer_titre"></div> -->
    <div class="navigation_bar_titre">
      <h1 id="titre_site" > JTX </h1>
    </div>

    </a>

    <div id="search_bar" class="barre_de_recherche">
        <form method="get" action="{% url 'search' %}"><input autocomplete="off" id="search_input" placeholder="Rechercher" onblur="cacher_results()" onfocus="afficher_results()" type="text" name="q" class='biginput' onkeydown="select_lien(event)" onkeyup="showHint(event,this.value)"></form>
    </div>


  </div>

  <div id="txtHint" onmouseover="lien_ok(1)" onmouseout="lien_ok(0)">

  </div>
  <!-- A changer pour mettre un lien absolu! -->


  <div id="lateral_bar">

      {% if request.user.is_authenticated %}
          <h3>Bonjour {{ request.user.username }}</h3>

          <a class="lateral_bar_button_a" href="{% url 'logout' %}">
            <div class="lateral_bar_button">
                <img src={% static "admin/img/deconnexion.png" %} alt="->" style="width:10px;">
                Se déconnecter
            </div>
          </a>

          <hr>

          <h3>Menu</h3>

          {% if request.user.is_authenticated %}

            <a href="{% url 'favorites' 1 %}" class="lateral_bar_button_a">
                <div class="lateral_bar_button">
                  Favoris
                </div>
              </a>
          {% endif %}

            <a href="{% url 'categories' %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Catégories
              </div>
            </a>

            <a href="{% url 'fil' 1 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Fil
              </div>
            </a>

            <a href="{% url 'projs' 1 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Projections
              </div>
            </a>

            <a href="{% url 'videos' 1 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Vidéos
              </div>
            </a>

            <a href="{% url 'tags' %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Tags
              </div>
            </a>

            <a href="{% url 'jtx' 2015 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                JTX 2015
              </div>
            </a>

          <hr>

          <h3>Projs épinglées</h3>
          {% for f in request.user.favorite_proj_set.all %}
          {% if f.epingle %}
          <a class="lateral_bar_button_a" href="{% url 'proj' f.proj.id %}">
              <div class="lateral_bar_button">
                  {{ f.proj.titre }}
                  <!--
                  <a href="{% url 'remove_favorite_proj' proj_id=f.proj.id home=1 %}" class="lateral_bar_supprimer">X</a>
                  -->
              </div>
          </a>

          {% endif %}
          {% endfor %}

          <hr>

          <h3>Clips épinglés</h3>
          <span id='video_epingle_liste'>
          {% for f in request.user.favorite_set.all %}

          {% if f.epingle %}
            <span id='video_epingle_id_+{{f.video.id}}'>
              <a class="lateral_bar_button_a" href="{% url 'video' f.video.id %}">
                <div class="lateral_bar_button">

                  <div class="lateral_bar_button_text">
                      {{ f.video.titre }}
                  </div>

                </div>
              </a>
            </span>
        {% endif %}

        {% endfor %}
        </span>





      {% else %}
        <a class="lateral_bar_button_a" href="{% url 'login' %}?next={% url 'index' %}">
          <div class="lateral_bar_button" id="connexion">
              Se connecter
          </div>
        </a>

      {% endif %}
  </div>












	<div id="body">

      {% if titre_tag %}
        <div class="container">
          <h1>
          Tags affichés :</h1> <span class="tag">{{titre}}</span>
          <hr class="container_hr"><br>


      {% elif titre and not titre_search %}
          <div class="container">
          <h1>{{titre}}</h1>

      {% endif %}



    {% block body %}
    {% endblock %}



    {% if pages and page and adress %}
  <div class="choisir_page">
        Page :
        {% for p in pages %}
            {% if p != page %}
                {% if id %}
                    <a href="{% url adress id p %}">{{p}}</a>
                {% else %}
                    <a href="{% url adress p %}">{{p}}</a>
                {% endif %}
            {% else %}
                <b style="color:black">{{p}}</b>
            {% endif %}
        {% endfor %}

    </div>
    {% endif %}

	</div>
</div>
</body>

<script>



checkbar();


function showHint(e,str) {
  var keycode;
  if (window.event){
    keycode = window.event.keyCode;}
  else if (e){
  keycode = e.which;}

  if(keycode==40 || keycode==38){

  }
  else{



  if (str.length == 0) {
      document.getElementById("txtHint").innerHTML = "";
      document.getElementById("txtHint").style.display = "none";
      return;
  } else {

    var showData = $('#txtHint');

    var url = "{% url 'suggestions' '' %}";
    url = url.substring(0, url.length - 1);
      $.getJSON(url + str, function(data){

      var videos = data.videos.map(function (video) {
        var s=video.titre;
        if(video.titre.length>80){
          s=video.titre.substring(0,80);
        }
        return '<a onmouseover="mouse_select(this)" onmouseout="mouse_deselect(this)" class="lien_suggestion" href="'+video.url+'"><div class="search_result"><span class="tag_search_video">Vidéo</span>'+s + "</div></a>";

      });


      var jtxmen = data.auteurs.map(function (jtxman) {
      return '<a onmouseover="mouse_select(this)" onmouseout="mouse_deselect(this)" class="lien_suggestion" href="'+jtxman.url+'"><div class="search_result"><span class="tag_search_jtxman">JTXMAN</span>'+jtxman.firstname + " " + jtxman.lastname + " (" + jtxman.promo  +")</div></a>";

      });

      var projs = data.projs.map(function (proj) {
        var s=proj.titre;
        if(proj.titre.length>80){
          s=proj.titre.substring(0,80);
        }
        return '<a onmouseover="mouse_select(this)" onmouseout="mouse_deselect(this)" class="lien_suggestion" href="'+proj.url+'"><div class="search_result"> <span class="tag_search_proj">PROJ</span>'+s+"</div></a>";

      });

      showData.empty();

      if (videos.length + jtxmen.length) {
          elements = jtxmen.concat(videos).concat(projs);

        document.getElementById("txtHint").style.display = "unset";
        var content = elements.join(' ');
        //var list = $('<ul />').html(cont  ent);
        showData.append(content);

      }
      else{
          document.getElementById("txtHint").style.display = "none";
      }
});

  }
}}


function checkbar(){

  positionne_suggestions();

  var show = getCookie("show");

  if (show != "") {
    if(show=='oui'){

      document.getElementById("lateral_bar").style.display = "unset";}
    else{document.getElementById("lateral_bar").style.display = "none";}
  }
  else {
    document.getElementById("lateral_bar").style.display = "none";

  }
}

function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
          c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
      }
  }
  return "";
}

function afficher_results() {
  var x=document.getElementById("search_input").value;
  var y=document.getElementById("txtHint").innerHTML;
if(suivre_lien==0 && x!="" && y!=""){document.getElementById("txtHint").style.display = "unset";}
}

function cacher_results(){
if(suivre_lien==0){document.getElementById("txtHint").style.display = "none";}
}

  function h_r_lateral_bar() {

    if(document.getElementById("lateral_bar").style.display != "none"){
      document.getElementById("lateral_bar").style.display = "none";

      setCookie("show", "non", 365);}

    else{
      document.getElementById("lateral_bar").style.display = "unset";

      setCookie("show", "oui", 365);}

  }

  function positionne_suggestions(){
    var x =document.getElementById("search_bar");
    if(typeof  x !="undefined"){
    var rect = x.getBoundingClientRect();
    document.getElementById("txtHint").style.marginLeft = (rect.left+6).toString() + "px";}

  }

  function lien_ok(i){
    suivre_lien=i;
  }

  function create_select() {
    select=-1;
  }
  create_select();

  function mouse_select(y) {
      var x=document.getElementsByClassName('search_result');
      if(select>=0 && select<x.length){x[select].style.backgroundColor="white";}
      el=y.getElementsByTagName('div')[0];
      el.style.backgroundColor="#c8c8c8";

      for(var i=0;i<x.length;i++){
        if(el==x[i]){select=i;}
      }
  }

  function mouse_deselect(y) {
        var x=document.getElementsByClassName('search_result');
      y.getElementsByTagName('div')[0].style.backgroundColor="white";
      if(select>=0 && select<x.length){x[select].style.backgroundColor="white";}
      select=-1;
  }


  function select_lien(e){
    var keycode;
    if (window.event){
      keycode = window.event.keyCode;}
    else if (e){
    keycode = e.which;}

    if(keycode==40){

      var x=document.getElementsByClassName('search_result');


        if(select<(x.length-1)){

            if(select>=0){x[select].style.backgroundColor="white";}

            select=1+  select;

            x[select].style.backgroundColor="#c8c8c8";

        }
    }
    else if (keycode==38) {
      var x=document.getElementsByClassName('search_result');


        if(0<select){

            if(select<x.length){x[select].style.backgroundColor="white";}

            select= select-1;

            x[select].style.backgroundColor="#c8c8c8";


        }
    }
    else if (keycode==13){
        var x=document.getElementsByClassName('search_result');

        //x[select].click();
        x[select].parentElement.click();
        e.preventDefault();
    }
  }



  var suivre_lien=0;

   window.onresize = positionne_suggestions;

  </script>
</html>
