{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <title>JTX</title>

  <script>

  function checkbar(){
    var show = getCookie("show");
    if (show != "") {
      if(show=='oui'){document.getElementById("lateral_bar").style.display = "unset";}
      else{document.getElementById("lateral_bar").style.display = "none";}
    }
    else {
      document.getElementById("lateral_bar").style.display = "unset";
    }
  }

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

    function h_r_lateral_bar() {

      if(document.getElementById("lateral_bar").style.display != "none"){
        document.getElementById("lateral_bar").style.display = "none";
        setCookie("show", "non", 365);}

      else{
        document.getElementById("lateral_bar").style.display = "unset";
        setCookie("show", "oui", 365);}

    }
    </script>
</head>
<body onload="checkbar()">


<div id="central">



    <button type="button" class="menu_button" onclick="h_r_lateral_bar()">
      <img class="menu_button_img" src="http://www.freeiconspng.com/uploads/menu-icon-28.png" alt="Menu" >
    </button>



  <div id="navigation_bar">
    <a href="{% url 'index' %}">
    <div class="navigation_bar_titre">
      <h1> JTX </h1>
    </div>
    </a>

    <div class="barre_de_recherche">
        <form method="get" action="{% url 'search' %}"><input type="text" name="q" class='biginput'></form>
    </div>
  </div>

  <!-- A changer pour mettre un lien absolu! -->


  <div id="lateral_bar">

      {% if request.user.is_authenticated %}
          <h3>Bonjour {{ request.user.username }}</h3>

          <a class="lateral_bar_button_a" href="{% url 'logout' %}">
            <div class="lateral_bar_button">
                <img src={% static "admin/img/deconnexion.png" %} alt="caca2" style="width:10px;">
                Se déconnecter
            </div>
          </a>

          <hr>

          <h3>Menu</h3>

          {% if request.user.is_authenticated %}

            <a href="{% url 'favorites' 1 %}" class="lateral_bar_button_a">
                <div class="lateral_bar_button">
                  Favoris
                </div>
              </a>
          {% endif %}

            <a href="{% url 'categories' %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Catégories
              </div>
            </a>

            <a href="{% url 'projs' 1 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Projections
              </div>
            </a>

            <a href="{% url 'videos' 1 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Vidéos
              </div>
            </a>

            <a href="{% url 'tags' %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                Tags
              </div>
            </a>

            <a href="{% url 'jtx' 2015 %}" class="lateral_bar_button_a">
              <div class="lateral_bar_button">
                JTX 2015
              </div>
            </a>

          <hr>

          <h3>Projs épinglées</h3>
          {% for f in request.user.favorite_proj_set.all %}
          <a class="lateral_bar_button_a" href="{% url 'proj' f.proj.id %}">
              <div class="lateral_bar_button">
                  {{ f.proj.titre }}
                  <!--
                  <a href="{% url 'remove_favorite_proj' proj_id=f.proj.id home=1 %}" class="lateral_bar_supprimer">X</a>
                  -->
              </div>
          </a>


          {% endfor %}

          <hr>

          <h3>Clips épinglés</h3>
          {% for f in request.user.favorite_set.all %}
          {% if f.epingle %}
              <a class="lateral_bar_button_a" href="{% url 'video' f.video.id %}">
                <div class="lateral_bar_button">
                  <img class="lateral_bar_img" src="{{f.video.url}}.png"/>
                  <div class="lateral_bar_button_text">
                      {{ f.video.titre }}
                  </div>


                <!--
                <a href="{% url 'remove_favorite' video_id=f.video.id home=1 %}" class="lateral_bar_supprimer"> X </a>
                -->
                </div>
              </a>

        {% endif %}
        {% endfor %}





      {% else %}
        <a class="lateral_bar_button_a" href="{% url 'login' %}?next={% url 'index' %}">
          <div class="lateral_bar_button">
              Se connecter
          </div>
        </a>

      {% endif %}
  </div>












	<div id="body">

      {% if titre_tag %}
        <div class="container">
          Tags affichés : <span class="tag">{{titre}}</span>
        </div>
      {% elif titre %}
          <div class="container">
          <h1>{{titre}}</h1>
          </div>
      {% endif %}



    {% block body %}
    {% endblock %}

    {% if pages and page and adress %}
  <div class="choisir_page">
        Page :
        {% for p in pages %}
            {% if p != page %}
                {% if id %}
                    <a href="{% url adress id p %}">{{p}}</a>
                {% else %}
                    <a href="{% url adress p %}">{{p}}</a>
                {% endif %}
            {% else %}
                <b style="color:black">{{p}}</b>
            {% endif %}
        {% endfor %}

    </div>
    {% endif %}

	</div>
</div>
</body>
</html>
