{% load app_filters %}

<!-- bloc_video -->
    {% if horizontal %}
        <div class="col-12" style="margin-bottom:10px;">
    {% else %}
        {% if col_large %}
            <div class="col-12" style="padding:5px;">
        {% else %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="padding:5px;">
        {% endif %}
    {% endif %} 

<div class="card" style="margin:0 auto;border-style:none;">

    {% if horizontal %}
        <div class="row ">
            <div class="col-4"  style="padding:2px;margin:0;">
    {% endif %}  

    {% if video %}
        <a href="{% url 'video' elmt.id %}" class="img_link">
        <img class="card-img-top" src="{{elmt.screenshot}}" style="width:100%;border-radius:0px;" />
        <span class="legende_vid_duree" >
            {{elmt|duration}}
        </span>  
        
        <span class="legende_vid_annee {% if elmt|get_promo_video:""|divisibleby:'2' %}bg-danger{%else%}bg-warning{% endif %}" >
            {{elmt|get_promo_video:""}}
        </span>  
        </a>

       
        
    {% else %}
        <a  href="{% url 'proj' elmt.id %}">
        <img class="card-img-top" src="{{elmt.image}}"  style="width:100%;border-radius:0px;"/>
        <span class="legende_vid_duree" >
            {{elmt|duration_proj}}
        </span>  
        </a>
    {% endif %}
    
    {% if horizontal %}
            </div>
            <div class="col-8 " style="padding:0;padding-left:5px;margin-top:-3px;">
                <div class="card-block">
    {% else %}
    <div class="card-body" style="padding:5px;">
    {% endif %}

            {% if video %}
                <a style="margin-bottom:0;" href="{% url 'video' elmt.id %}">{{elmt.titre|short}} </a>
            {% else %}
                <a style="margin-bottom:0;" href="{% url 'proj' elmt.id %}">{{elmt.titre|short}} </a>
            {% endif %}
            
            <br>
            <span style="font-size:11px; margin-bottom:0;"> 
             {% if video %}
                {% autoescape off %} 
                    {{ elmt|auteurs}} 
                {% endautoescape %}
            {% else %}
                <a href="{% url 'jtx' elmt.promo %}" style="color:black;">
                JTX {{elmt.promo}}
                </a>
            {% endif %}
             </span>
            <br>
            <div class="d-flex justify-content-end align-items-center">
            <div  class="mr-auto align-self-center" style="color:rgb(118, 118, 118);font-size:11px;">
            {{elmt.views}} vues
            <span class="petit_point">&#9679;</span> 
            {{ elmt.date|date:"d/m/Y" }}
            </div>

            {% if video %}
                <div class="" style="">
                <span style="position:relative;top:-3px;">
                    
                  
                        
                        {% for r in v.relation_proj_set.all  %}
                            <a class='cat_{{v.category.id}} tag '  href="{% url 'proj' r.proj.id %}">{{v.category.titre_short}}</a>
                        {% endfor %}
                   
                    </span>
                </div>
            {% else %}
                <div class="" style="">
                    <span style="position:relative;top:-3px;">
                        
                    
                           
                                <a class='cat_{{elmt.category.id}} tag '  href="{% url 'category' elmt.category.id 1  %}">{{elmt.category.titre_short}}</a>
                     
                        </span>
                    </div>
            {% endif %}

             </div>

            {% if description %}
             <div style="font-size:11px;color:rgb(118, 118, 118);">
                {{elmt.description}}
              </div>
            {% endif %}
        {% if horizontal %}
            </div></div>
    {% endif %}
    </div>
</div>
</div>


<!-- 
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 " style="margin-bottom:20px;">
    <div class="row" style="padding:5px;">
        
        {% if video %}
            <a href="{% url 'video' elmt.id %}" style="width:250px; ">
        {% else %}
            <a href="{% url 'proj' elmt.id %}" style="width:250px;">
        {% endif %}
                
                <figure class="" style="width:100%;min-width:200px;margin-bottom:2px;" >

                     {% if video %}
                    <img class="" src="{{elmt.screenshot}}" style="width:100%;min-width:200px;" />
                    {% else %}
                    <img class="" src="{{elmt.image}}"  style="width:100%;min-width:200px;"/>
                    {% endif %}

                     <figcaption class="legende_vid_duree" >
                        {% if video %}
                            {{elmt|duration}}
                         {% else %}
                            {{elmt|duration_proj}}
                         {% endif %}
                    </figcaption>    
                </figure>
            </a>

        
        {% if video %}

        {% else %}
            <a href="{% url 'proj' elmt.id %}" class='col-xs-12' style="padding:0;background-color:blue;">
        {% endif %}
        
            <div class="legende_vid_titre">
                {{elmt.titre|short}}
            </div>
        </a>



       
        <div class="col-xs-12" id="auteur_{{elmt.id}}" style="padding:0;font-size:11px;">
             {% if video %}
                {% autoescape off %} 
                    {{ elmt|auteurs}} 
                {% endautoescape %}
            {% else %}
                JTX {{elmt.promo}}
            {% endif %}
        </div>



       
        <div class="col-xs-12" style="padding:0;color:rgb(118, 118, 118);font-size:11px;">
            {{elmt.views}} vues
            <span class="petit_point">&#9679;</span> {{ elmt.date|date:"d/m/Y" }}
        </div>

        {% if video %}
        <span class="col-xs-8 text-left align-top" style="padding:0;display:inline-block;vertical-align:middle;">
                {% if v.category.titre.lower == 'proj jtx' %}
                    
                    {% for r in v.relation_proj_set.all  %}
                        <a class='titre_et_vues_info_cat_proj tag '  href="{% url 'proj' r.proj.id %}" style="font-size:9px; margin-right:0px;">PROJ</a>
                    {% endfor %}
                {% elif v.category.titre.lower == 'amphi binets' %}
            
                    {% for r in v.relation_proj_set.all  %}
                        <a class='titre_et_vues_info_cat_amphi tag' href="{% url 'proj' r.proj.id %}">BINETS</a>
                    {% endfor %}
                {% elif v.category.titre.lower == 'semaine internationale' %}
                
                    {% for r in v.relation_proj_set.all  %}
                        <a class='titre_et_vues_info_cat_semaine tag' href="{% url 'proj' r.proj.id %}">S.INT.</a>
                    {% endfor %}
                {% elif v.category.titre.lower == "coupe de l'x" %}
            
                    {% for r in v.relation_proj_set.all  %}
                        <a class='titre_et_vues_info_cat_coupe tag' href="{% url 'proj' r.proj.id %}">COUPE</a>
                    {% endfor %}
            {% endif %}
        {% endif %}
            <span class="glyphicon glyphicon-pushpin" style="display:inline-block; width:10px;margin-left:5px; opacity:0.53;"></span>
        <span class="glyphicon glyphicon-thumbs-up" style="display:inline-block; width:10px;margin-left:5px;opacity:0.53;"></span>
        </span>

    </div>
</div>



				    -->
