{% extends 'base.html' %}
{% block body %}

{% if message %}
{{message}}
{% endif %}



<div class="container">


<h1>Édition d'une proj</h1>

{% if p %}




<form action="{% url 'edit_proj' p.id %}" metdod="post">
  <table class="table_edit_proj_haut">

    {% csrf_token %}
<tr>
  <th><label for="titre">Titre :</label></th>
  <td>  <input class="input_edit" id="titre" size="50" type="text" value="{{p.titre}}" onfocus="ffocus('titre')" onblur="defocus('titre')" name="titre"/></td>
</tr>

<tr>
  <th>  <label for="image">Image (URL) :<label></th>
  <td>
    <input class="input_edit" id="image" size="100" type="text" name="image" onfocus="ffocus('image')" value="{{p.image}}"/></td>
</tr>

<tr>
  <th>  <label for="promo">Promo :<label></th>
  <td><input class="input_edit" id="promo" type="number" name="promo" value="{{p.promo}}" min="1991" max="2030" step="1"/></td>
</tr>

<tr>
  <th>  <label for="category">Catégorie :<label></th  >
  <td><select class="input_edit" name="category">
  {% for c in categories %}
      <option {% if p.category == c %} selected {% endif %} value="{{c.id}}">{{c.titre}}</option>
  {% endfor %}
  </select></td>
</tr>

<tr>
  <th class="col1"><label for="description">Description :</label><br>  </th>
  <th>    <textarea class="input_edit" id="description_edit" name="description">{{p.description}}</textarea></th>
</tr>

</table>

<table>


    {% for r in p.relation_proj_set.all %}
    <tr>
      <td><input type="number" id="r_video_{{r.id}}" name ="r_video_{{r.id}}" value="{{r.ordre}}" max="999" min="-999"/></td>
      <td>  <label for="r_video_{{r.id}}">{{r.video.titre}}</label></td>
    </tr>

    {% endfor %}

</table>




<input type="submit" value="Modifier la proj"/>
</form>

</div>

<script type="text/javascript">
defocus('titre');
defocus('image');
function linear(i){
  return i;
}

function ffocus(element_namee){
  var element=document.getElementById("description_edit");
  var style = window.getComputedStyle(element);
  var max_width= parseInt(style.getPropertyValue('width'));

  var element=document.getElementById(element_namee);
  var style = window.getComputedStyle(element);
  var debut= parseInt(style.getPropertyValue('width'));
  var fin =max_width;
  animate({
duration: 200,
timing:makeEaseInOut(linear),
draw: function(progress) {
document.getElementById(element_namee).style.width  = debut+progress*(fin-debut)+ 'px';
}
});

}

function defocus(element_name){
  var element=document.getElementById(element_name);
  var style = window.getComputedStyle(element);
  var debut= parseInt(style.getPropertyValue('width'));

  document.getElementById("hidden_"+element_name).innerHTML=document.getElementById(element_name).value;


  var element2=document.getElementById("hidden_"+element_name);
  var style2 = window.getComputedStyle(element2);
  var fin= parseInt(style2.getPropertyValue('width'))+3;

  document.getElementById("hidden_"+element_name).style.dislay="hidden";

  animate({
duration: 200,
timing:makeEaseInOut(linear),
draw: function(progress) {
document.getElementById(element_name).style.width  = debut+progress*(fin-debut)+ 'px';
}
});

}

function animate({timing, draw, duration}) {

let start = performance.now();

requestAnimationFrame(function animate(time) {
  // timeFraction goes from 0 to 1
  let timeFraction = (time - start) / duration;
  if (timeFraction > 1) timeFraction = 1;

  // calculate the current animation state
  let progress = timing(timeFraction);

  draw(progress); // draw it

  if (timeFraction < 1) {
    requestAnimationFrame(animate);
  }

});
}

function makeEaseInOut(timing) {
return function(timeFraction) {
  if (timeFraction < .5)
    return timing(2 * timeFraction) / 2;
  else
    return (2 - timing(2 * (1 - timeFraction))) / 2;
}
}
</script>
{% endif %}

{% endblock %}
