{% extends 'base.html' %}
{% block body %}

{% if message %}
{{message}}
{% endif %}
{% load static %}

<div class="container" id="div_form">



<h1>Édition d'une vidéo</h1>

{% if v %}

<form action="{% url 'edit_video' v.id %}" method="post" class='edit_form'>

    {% csrf_token %}

  <table style="width:100%" class="edit_video">
  <tr>
    <th class="col1">  <label for="titre">Titre :</label></th>
    <th><input class="input_edit" id="titre" size="50" type="text" value="{{v.titre}}" name="titre" onfocus="ffocus('titre')" onblur="defocus('titre')"/></th>
  </tr>

  <tr>
    <th class="col1">   <label  for="hd">HD :<label> </th>
    <th>  <input class="input_edit" id="hd" size="100" type="text" name="hd" value="{{v.hd}}" onfocus="ffocus('hd')" onblur="defocus('hd')"/></th>
  </tr>

  <tr>
    <th class="col1">   <label  for="md">md :<label> </th>
    <th>  <input class="input_edit" id="md" size="100" type="text" name="md" value="{{v.md}}" onfocus="ffocus('md')" onblur="defocus('md')"/></th>
  </tr>

  <tr>
    <th class="col1">   <label  for="sd">sd :<label> </th>
    <th>  <input class="input_edit" id="sd" size="100" type="text" name="sd" value="{{v.sd}}" onfocus="ffocus('sd')" onblur="defocus('sd')"/></th>
  </tr>

  <tr>
    <th class="col1">   <label  for="screenshot">screenshot :<label> </th>
    <th>  <input class="input_edit" id="screenshot" size="100" type="text" name="screenshot" value="{{v.screenshot}}" onfocus="ffocus('screenshot')" onblur="defocus('screenshot')"/></th>
  </tr>




  <tr>
    <th class="col1">   <label for="duree">Durée :<label> </th>
    <th> <input class="input_edit" id="duree" type="number" name="duree" value="{{v.duree}}" min="1" step="1" onkeyup="update_time()" onchange="update_time()"/>
      <span id="time_fr"></span>
    </th>
  </tr>

  <tr>
    <th class="col1">     <label for="category">Catégorie :<label> </th>
    <th>   <select class="input_edit" name="category" id="select_category_edit_vid">
      {% for c in categories %}
          <option {% if v.category == c %} selected {% endif %} value="{{c.id}}">{{c.titre}}</option>
      {% endfor %}
      </select>
    </th>
  </tr>

  <tr>
    <th class="col1">  Auteurs :</th>
    <th>  <input id="input_auteur" class="input_edit" list="auteurs">
      <datalist id="auteurs">
          <select id="select_auteur">
          {% for a in auteurs %}
              <option value="{{a.id}}">{{a.firstname}} {{a.lastname}}</option>
          {% endfor %}
          </select>
      </datalist>
      <input type="button" value="Ajouter" onclick="ajouter('auteur')"/></th>
  </tr>


  <tr>
    <th class="col1">Déjà ajoutés :</th>
    <td><span id="ls_auteur">
      {% for r in v.relation_auteur_video_set.all %}

        <span id="s_auteur_{{r.auteur.id}}">
          {{r.auteur.firstname}} {{r.auteur.lastname}} <a href="#" onclick="supprimer('auteur',{{r.auteur.id}})"><img src={% static "admin/img/icon-deletelink.svg" %} alt="(Supprimer)" class='commentaires_supprimer'></a>
        <input type="hidden" name="auteur_{{r.auteur.id}}" value="1">  </span>


      {% endfor %}
      </span>
    </td>

  </tr>


  <tr>
    <th class="col1">Tags :</th>
    <th>  <input class="input_edit" list="tags" id="input_tag">
      <datalist id="tags">
          <select>
          {% for t in tags %}
              <option value="{{t.id}}">{{t.titre}}</option>
          {% endfor %}
          </select>
      </datalist>
      <input type="button" value="Ajouter" onclick="ajouter('tag')"/></th>
  </tr>

  <tr>
    <th class="col1">Déjà ajoutés : </th>
    <td><span id="ls_tag">
      {% for t in v.relation_tag_set.all %}
        <span id="s_tag_{{t.tag.id}}"><span class='tag'>{{t.tag.titre}}</span> <a href="#" onclick="supprimer('tag',{{t.tag.id}})"><img src={% static "admin/img/icon-deletelink.svg" %} alt="(Supprimer)" class='commentaires_supprimer'></a>
        <input type="hidden" name="tag_{{t.tag.id}}" value="1"></span>
    {% endfor %}</span></td>
  </tr>

  <tr>
    <th class="col1"><label for="description">Description :</label><br>  </th>
    <th>    <textarea class="input_edit" id="description_edit" name="description">{{v.description}}</textarea></th>
  </tr>



</table>
    <input type="submit" class="edit_bouton" value="Modifier la vidéo"/>
</form>

</div>

<div  style="display:hidden;">
  <p id="hidden_titre" style="display:inline-block;font-size:14px;color:#f1f1f1;position:relative; top:-100000px;" style="display:hidden;"></p>
    <p id="hidden_url" style="display:inline-block;font-size:14px;color:#f1f1f1;position:relative; top:-100000px;" style="display:hidden;"></p>

</div>
<script type="text/javascript">




defocus('titre');
defocus('url');
update_time();

set_size_duree();


  function ajouter(cat) {
    id=document.getElementById("input_"+cat).value;

    if (cat=="auteur") {
    {% for a in auteurs %}
        if(id=={{a.id}}){
          if (document.getElementById("s_"+cat+"_"+id)) {
              document.getElementById("s_"+cat+"_"+id).innerHTML="{{a.firstname}} {{a.lastname}} <a href='#' onclick='supprimer("+'\"'+cat+'\"'+" ,{{a.id}})'><img src={% static 'admin/img/icon-deletelink.svg' %} alt='(Supprimer)' class='commentaires_supprimer'></a>  <input type='hidden' name= \' auteur _{{r.auteur.id}} \' value='1'>";
          }
          else {
              document.getElementById("ls_"+cat).innerHTML+=    "<span id='s_auteur_{{a.id}}'>{{a.firstname}} {{a.lastname}} <a href='#' onclick='supprimer("+'\"auteur\"'+",{{a.id}})'><img src={% static 'admin/img/icon-deletelink.svg' %} alt='(Supprimer)' class='commentaires_supprimer'></a><input type='hidden' name='auteur_{{a.id}}' value='{{a.id}}'> <input type='hidden' name= \' auteur_{{a.id}} \' value='1'></span>";
          }
        }
    {% endfor %}
  }
  else if (cat=="tag") {

    {% for t in tags %}
        if(id=={{t.id}}){

          if (document.getElementById("s_"+cat+"_"+id)) {
              document.getElementById("s_"+cat+"_"+id).innerHTML="<span class='tag'>{{t.titre}}</span> <a href='#' onclick='supprimer("+'\"tag\"'+" ,{{t.id}})'><img src={% static 'admin/img/icon-deletelink.svg' %} alt='(Supprimer)' class='commentaires_supprimer'></a>  <input type='hidden' name= \' tag_{{t.id}} \' value='1'>";
          }
          else {
              document.getElementById("ls_"+cat).innerHTML+=    "<span id='s_tag_{{t.id}}'><span class='tag'>{{t.titre}}</span> <a href='#' onclick='supprimer("+'\"'+cat+'\"'+",{{t.id}})'><img src={% static 'admin/img/icon-deletelink.svg' %} alt='(Supprimer)' class='commentaires_supprimer'></a><input type='hidden' name='tag_{{t.id}}' value='{{t.id}}'> <input type='hidden' name= \' tag _{{t.id}} \' value='1'></span>";
          }
        }

    {% endfor %}
  }}

  function supprimer(cat,id){
    document.getElementById("s_"+cat+"_"+id).innerHTML="";
  }

  function set_size_duree(){
    var element=document.getElementById("select_category_edit_vid");
    var style = window.getComputedStyle(element);
    var debut= parseInt(style.getPropertyValue('width'));
    document.getElementById("duree").style.width=debut-6+"px";
  }

  function update_time(){
    var sec_num = parseInt(document.getElementById("duree").value);
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);


    if(hours==0){hours='';}
    else{hours=hours + " h";}

   if (minutes==0){minutes='';}
   else{minutes=minutes + " min et";}

   document.getElementById("time_fr").innerHTML="ce qui fait "+ hours+' '+minutes+' '+seconds+' s.';
  }

  function linear(i){
    return i;
  }






  function ffocus(element_namee){
    var element=document.getElementById("description_edit");
    var style = window.getComputedStyle(element);
    var max_width= parseInt(style.getPropertyValue('width'));

    var element=document.getElementById(element_namee);
    var style = window.getComputedStyle(element);
    var debut= parseInt(style.getPropertyValue('width'));
    var fin =max_width;
    animate({
  duration: 200,
  timing:makeEaseInOut(linear),
  draw: function(progress) {
  document.getElementById(element_namee).style.width  = debut+progress*(fin-debut)+ 'px';
  }
});

  }

  function defocus(element_name){
    var element=document.getElementById(element_name);
    var style = window.getComputedStyle(element);
    var debut= parseInt(style.getPropertyValue('width'));

    document.getElementById("hidden_"+element_name).innerHTML=document.getElementById(element_name).value;


    var element2=document.getElementById("hidden_"+element_name);
    var style2 = window.getComputedStyle(element2);
    var fin= parseInt(style2.getPropertyValue('width'))+3;

    document.getElementById("hidden_"+element_name).style.dislay="hidden";

    animate({
  duration: 200,
  timing:makeEaseInOut(linear),
  draw: function(progress) {
  document.getElementById(element_name).style.width  = debut+progress*(fin-debut)+ 'px';
  }
});

  }

  function animate({timing, draw, duration}) {

  let start = performance.now();

  requestAnimationFrame(function animate(time) {
    // timeFraction goes from 0 to 1
    let timeFraction = (time - start) / duration;
    if (timeFraction > 1) timeFraction = 1;

    // calculate the current animation state
    let progress = timing(timeFraction);

    draw(progress); // draw it

    if (timeFraction < 1) {
      requestAnimationFrame(animate);
    }

  });
}

function makeEaseInOut(timing) {
  return function(timeFraction) {
    if (timeFraction < .5)
      return timing(2 * timeFraction) / 2;
    else
      return (2 - timing(2 * (1 - timeFraction))) / 2;
  }
}



</script>

{% endif %}

{% endblock %}
