{% extends 'base.html' %}
{% block body %}

{% if message %}
{{message}}
{% endif %}
<script type="text/javascript">
angular.module("demo").controller("SimpleDemoController", function($scope) {

  $scope.models = {
      selected: null,
      lists: {"A": [], "B": []}
  };

  // Generate initial model
  for (var i = 1; i <= 3; ++i) {
      $scope.models.lists.A.push({label: "Item A" + i});
      $scope.models.lists.B.push({label: "Item B" + i});
  }

  // Model to JSON for demo purpose
  $scope.$watch('models', function(model) {
      $scope.modelAsJson = angular.toJson(model, true);
  }, true);

});
</script>

<div class="container">
  <ul dnd-list="list">
      <!-- The dnd-draggable directive makes an element draggable and will
           transfer the object that was assigned to it. If an element was
           dragged away, you have to remove it from the original list
           yourself using the dnd-moved attribute -->
      <li ng-repeat="item in list"
          dnd-draggable="item"
          dnd-moved="list.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-selected="models.selected = item"
          ng-class="{'selected': models.selected === item}"
          >
          {{item.label}}
      </li>
  </ul>
</div>


<div class="container">


<h1>Édition d'une proj</h1>

{% if p %}



<form action="{% url 'edit_proj' p.id %}" method="post">

    {% csrf_token %}

    <label for="titre">Titre :</label>
    <input id="titre" size="50" type="text" value="{{p.titre}}" name="titre"/>
    <br/><br/>

    <label for="image">Image (URL) :<label>
    <input id="image" size="100" type="text" name="image" value="{{p.image}}"/>
    <br/><br/>

    <label for="promo">Promo :<label>
            <input id="promo" type="number" name="promo" value="{{p.promo}}" min="1991" max="2030" step="1"/>
    <br/><br/>

    <label for="category">Catégorie :<label>
    <select name="category">
    {% for c in categories %}
        <option {% if p.category == c %} selected {% endif %} value="{{c.id}}">{{c.titre}}</option>
    {% endfor %}
    </select>
    <br/><br/>

    {% for r in p.relation_proj_set.all %}
        <input type="number" id="r_video_{{r.id}}" name ="r_video_{{r.id}}" value="{{r.ordre}}" max="999" min="-999"/>

        <label for="r_video_{{r.id}}">{{r.video.titre}}</label>
        <br/>
    {% endfor %}
    <br/>



    <input type="submit" value="Modifier la proj"/>


</form>

</div>
{% endif %}

{% endblock %}
