{% extends 'base.html' %}

{% block body %}

{% load app_filters %}


{% if categories %}
	<div class="container_no_bs">
		<h1>Catégories</h1>
			<ul>
			{% for c in categories %}
		    	<li><a href="{% url 'category' c.id 1 %}">{{ c.titre|short }}</a></li>
			{% endfor %}
			</ul>

{% endif %}

{% if request.user.is_authenticated %}

<h1>Video du jour</h1>

<video id="video" controls autoplay>
    <source src="http://binet-jtx.com/vdj/vdj.mp4">
    Your browser does not support the video tag.
</video>

{% else %}

<h1>Vous n'etes pas connecte !</h1>

Connectez vous pour pouvoir voir toutes les videos, et accedez a toutes les fonctionnalites du site.
Tant que vous n'etes pas connecte, vous ne pouvez voir que les videos ouvertes au public.

{% endif %}

{% if projs %}
	<hr class="container_hr">
	<h1>Projs</h1>

		<div class="row">
			{% for p in projs %}
				{% include "block_video_proj_liste.html" with video=0 elmt=p %}
			{% endfor %}
		</div>

{% endif %}

{% if videos %}
	<hr class="container_hr">
	<h1>Vidéos</h1>
	<div class="row">
		{% for v in videos %}
			{% include "block_video_proj_liste.html" with video=1 elmt=v %}
		{% endfor %}

{% endif %}
</div>
{% endblock %}
