{% extends 'base.html' %}

{% block body %}

{% load app_filters %}

		{% if not request.user.is_authenticated %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  		</button>
			<h4><strong> Vous n'êtes pas connecté !</strong></h4>
		Connectez vous pour pouvoir voir toutes les vidéos, et accéder a toutes les fonctionnalités du site.
		Tant que vous n'êtes pas connecté, vous ne pouvez voir que les videos ouvertes au public.
		</div>

		{% endif %}



		{% if request.user.is_authenticated %}

		<div class="card">
	<h2 class="card-header">Vidéo du jour</h2>
	<div class="card-body">
	<video id="video" controls autoplay>
			<source src="http://binet-jtx.com/vdj/vdj.mp4">
			Your browser does not support the video tag.
		</video>
</div>
	</div>
	

{% endif %}

{% if projs %}
<br>
<div class="card">
	<div class="card-header" >
		<h2 class="">Projections</h2>
		{% if categories %}


			<ul class=" nav nav-tabs card-header-tabs">

				<li class="nav-item">
					<a class="nav-link active" href="#">Les plus récentes</a>
				</li>
				{% for c in categories %}
		    	<li class="nav-item">
					<a class="nav-link" href="{% url 'category' c.id 1 %}">{{ c.titre|short }}</a>
				</li>
				{% endfor %}
				
			</ul>
		

		{% endif %}
	</div>
	
	<div class="card-body">

		

		<div class="row">
			{% for p in projs %}
				{% include "block_video_proj_liste.html" with video=0 elmt=p %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}


{% if videos %}
<br>
<div class="card">
	<h2 class="card-header">Vidéos</h2>
	<div class="card-body">
	<div class="row">
		{% for v in videos %}
			{% include "block_video_proj_liste.html" with video=1 elmt=v %}
		{% endfor %}


	</div>
</div>
{% endif %}
<br>
<br>
<br>
<br>

{% endblock %}
