{% extends 'base.html' %}
{% block body %}
{% load app_filters %}

{% if year %}

<div class="jtx_titre">JTX{{year}}</div>
<div class="jtx_sous_titre">On intuite et on disrupte.</div>

<div class="container">
	<h1>Projs</h1>
	<ul class="jtx_liste_proj">
        {% for p in projs_jtx %}
        <li>{{p.titre}}</li>
        {% endfor %}
	</ul>

</div>

<div class="container">
	<h1>Projs lors d'évènements</h1>

<div class="jtx_liste_evnt">

{% for p in projs_autres%}
    <a href="{% url 'proj' p.id %}">
	<div class="jtx_liste_evnt_item">
		<div class="jtx_liste_evnt_item_title">
            {{p.titre|short}}	
		</div>
		<div class="jtx_liste_evnt_item_date">
            {{p.date|date:"d/m/Y"}}
		</div>
		<div class="jtx_liste_evnt_item_vues">
            Vues : {{p.views}}
		</div>
	</div>
</a>
{% endfor %}

</div>
</div>


<div class="container">
	<h1>Vidéos les plus vues</h1>

</div>

{% endif %}

{% endblock %}
