{% extends 'base.html' %}
{% block body %}
{% load app_filters %}
{% load static %}
{% if year %}

<div class="jumbotron" style="background-color:white;text-align:center;">
		<h1 class="display-3">JTX {{year}}</h1>
		<p class="lead">On intuite et on disrupte.</p>
		
</div>

<div class="d-flex justify-content-center">
		{% for p in projs_jtx|dictsort:"date" %}
			<div class="col-3">
				<div class="card">
					<h3 class="card-header">Hello</h3>
					<div class="card-body">
							{% include "block_video_proj_liste.html" with video=0 elmt=p col_large=1 %}
					</div>
					
				</div>
			</div>
		
		{% endfor %}
</div>
<br>
<div class="card">
	<h2 class="card-header">Autres projections du JTX {{year}}</h2>
	<div class="card-body">
		
			
				<!-- <div class="progress">
					
					{% for p in projs_autres %}
					<div class="progress-bar  progress_bar_class" id="progress_{{forloop.counter0}}" role="progressbar" style="width: 10%" 
					data-toggle="tooltip" data-placement="top" title="{{p.titre}}" >
					{% with next=forloop.counter %}
						{% if not forloop.last %}
							
							{{projs_autres.0}}

						{% endif %}
					{% endwith %}
					
					</div>
					<span style="width:1px;"></span>
					{% endfor %}
				</div> -->
			
		
		<div class="container-fluid">
			<div class="row">
					{% for p in projs_autres|dictsort:"date" %}
						{% include "block_video_proj_liste.html" with video=0 elmt=p %}
					{% endfor %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	 
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	});
</script>

	
{% endif %}

{% endblock %}
