{% extends 'base.html' %}
{% block body %}


<div class="card" id="div_form">
  
  
  
  <h2 class="card-header">Playlist : {{titre_playlist.label}} {% if can_proj %}  <a href="{% url 'edit_playlist' titre_playlist.id %}">  (Modifier la playlist)</a>   {% endif %}</h2>

      <div class="card-body">

          <div class="row">

          {% for p in playlists %}

                    {% include "block_video_proj_liste.html" with video=0 elmt=p.video_precedente horizontal=1%}

          {% endfor %}

                    {% include "block_video_proj_liste.html" with video=0 elmt=last_video horizontal=1%}

          </div>

      </div>
</div>




{% endblock %}
