{% extends 'base.html' %}

{% block body %}

{% if proj %}

<div style="margin-top:0;display:table">
<div style="margin-top:0;display:table-row">
<div style="margin-top:0;display:table-cell;vertical-align:top">
<!--> <div style="margin-top:0;display:table-cell;vertical-align:top"></-->

<video id="video" width="720px" height="405px" controls></video>

<script type="text/javascript">
var video = document.getElementById('video');
var source = document.createElement('source');
video.appendChild(source);
var titre = document.getElementById('titre_video');
var current = 0;

var playlist = []
{% for r in proj.relation_proj_set.all %}
playlist[{{ forloop.counter }}] = ['{{ r.video.titre }}', '{{r.video.url}}']
{% endfor %}

function launch(id) {
	current = id;
	video.pause();

	source.setAttribute('src', playlist[id][1]);
	video.load();
	video.play();
}

video.addEventListener('ended',next,false);
function next(e) {
	current += 1;
	if (current < playlist.length) {
		launch(current);
	}
}

launch(1);
</script>

<div class="titre_et_vues" id="titre_et_vues_id">
	<p class="titre_et_vues_titre">{{ proj.titre }}</p>
	<p class="titre_et_vues_date">{{ proj.date|date:"d/m/Y" }}</p>
	<div class="titre_et_vues_vues_et_jaime">

		<div class="titre_et_vues_vues_et_jaime_vues">
		 {{ proj.views }} vues
	 	</div>

		<div class="titre_et_vues_vues_et_jaime_vues_jaime">


		<div class="titre_et_vues_vues_et_jaime_nb_jaime">
			 {{ nb_jaimes }} j'aime
	 	</div>


			{% if request.user.is_authenticated %}
			{% if favorite %}
			    <a href="{% url 'remove_favorite_proj' proj_id=proj.id home=0 %}" class="lien_jaime_rouge">
						<div class="titre_et_vues_vues_et_jaime_bouton_jaime_rouge" >
						Je n'aime plus
						</div>
					</a>
			{% else %}

			    <a href="{% url 'add_favorite_proj' proj.id %}" class="lien_jaime_vert">
						<div class="titre_et_vues_vues_et_jaime_bouton_jaime_vert">
							J'aime
						</div>
					</a>
			{% endif %}
			{% endif %}

			</div>
	</div>

<hr>

	<div class="proj_titre_video">Titre de la vidéo</div>
	<div class="proj_a_suivre">A venir : <a href="#" class="proj_video_voir">Thierry Lanoo</a> </div>


</div>

<div class="description_video">
  <label for="toggle-1">Afficher les vidéos</label>
  <input type="checkbox" id="toggle-1">

  <div class="description_video_proj">
    <ol>
      {% for r in proj.relation_proj_set.all %}
      <li>
  			<a href="{% url 'video' r.video.id %}" class="proj_video_titre">{{ r.video.titre }}</a>
  			<a onclick="launch({{forloop.counter}})" href="#" class="proj_video_voir">Voir ici</a>
  		</li>
      {% endfor %}
    </ol>
  </div>
</div>




<div class="commentaires_video" id="commentaires_video_id">
  <div class="commentaires_video_titre">
    Commentaires
  </div>

  {% for r in proj.relation_comment_proj_set.all %}
      <hr/>
      <div class="commentaires_nom">
        {{ r.author.username }}
      </div>
      <div class="commentaires_commentaires">
        {{ r.comment }}
      </div>
  {% endfor %}
</div>



<div class="commentaires_video_faire">
  {% if request.user.is_authenticated %}
  <form action="{% url 'comment_proj' proj.id %}" method="post">
  {% csrf_token %}
  <!-- <input type="text" rows=2 name="comment" id="comment" /> -->
    <textarea name="comment" rows="3" id="comment"></textarea>
  <input type="submit" value="Poster" id='bouton_comment'/>
  </form>
  {% endif %}
</div>



</div>

<div class="suggestion">
  <div class="container_suggestion">
		{% load app_filters %}
    <h1>Suggestions</h1>

        <div class="liste_videos">
            {% for v in suggestions %}
                <div class="bloc_video">
                  <a href="{% url 'proj' v.id %}">
                  <figure>
                      <img class="proj_image" src="{{v.image}}"/>
                      <figcaption class="legende_vid_duree">
                            {{v|duration_proj}}
                      </figcaption>
                  </figure>
                  </a>

                  <a href="{% url 'video' v.id %}">
                      <div class="legende_vid_titre">
                          {{v.titre}}
                      </div>
                  </a>

                  <div class="legende_vid_auteur">
                        <a href="#">
                          JTX2015
                        </a>
                        -
                        {{v.views}}
                         vues.
                  </div>
                </div>
              {% endfor %}
        </div>

      </div>
    </div>



</div>
</div>


{% endif %}
{% endblock %}
