{% extends 'base.html' %}

{% block body %}
{% if proj %}
<div style="margin-top:0;display:table">
<div style="margin-top:0;display:table-row">
<div style="margin-top:0;display:table-cell;vertical-align:top">
  <h1>{{ proj.titre }}</h1>
  <h4>{{ proj.date|date:"d/m/Y"  }}</h4>
	<h2 id="titre_video"></h2>

	<video id="video" width="1008px" height="567px" controls></video>

<script type="text/javascript">
var video = document.getElementById('video');
var source = document.createElement('source');
video.appendChild(source);
var titre = document.getElementById('titre_video');
var current = 0;

var playlist = []
{% for r in proj.relation_proj_set.all %}
playlist[{{ forloop.counter }}] = ['{{ r.video.titre }}', '{{r.video.url}}']
{% endfor %}

function launch(id) {
	current = id;
	video.pause();
	titre.innerHTML = playlist[id][0];
	source.setAttribute('src', playlist[id][1]);
	video.load();
	video.play();
}

video.addEventListener('ended',next,false);
function next(e) {
	current += 1;
	if (current < playlist.length) {
		launch(current);
	}
}


launch(1);
</script>

  <ol>
    {% for r in proj.relation_proj_set.all %}
    <li>
			<a href="{% url 'video' r.video.id %}">{{ r.video.titre }}</a>
			<a onclick="launch({{forloop.counter}})" href="#">(Voir)</a>
		</li>
    {% endfor %}
  </ol>

Vues : {{ proj.views }}
<br/>
{% for r in proj.relation_comment_proj_set.all %}
    <br/>
    <strong>{{r.author.username }}</strong> : 
    {{ r.comment }}
{% endfor %}

{% if request.user.is_authenticated %}

<br/>
<br/>

<form action="{% url 'comment_proj' proj.id %}" method="post">
{% csrf_token %}
<input type="text" name="comment" id="comment" />
<input type="submit" value="Poster" />
</form>

{% endif %}
</div>
<div style="vertical-align:top;padding-left:50px;display:table-cell">

<h2>Suggestions</h2>

{% for p in suggestions %}
<a href="{% url 'proj' p.id %}">
	<figure style="display:table-cell">
        <img width="200px" src="{{p.image}}"/>
		<figcaption style="font-size:20px">{{p.titre}}</figcaption>
	</figure>
</a>
<br/><br/>
{% endfor %}

</div>
</div>
</div>


{% endif %}
{% endblock %}
