{% extends 'base.html' %}

{% block body %}
{% load app_filters %}



<div class="d-flex justify-content-center" style="margin-bottom:15px;">
<div class="col-12 col-md-10 col-lg-6">
<div class="card">
	<div class="card-header">
		<h2>{{titre}}</h2>
			<div class="d-none d-sm-block">
					<ul class=" nav nav-tabs card-header-tabs no-wrap">
	
						{% if elements_proj %}
						<li class="nav-item" >
							<a class="nav-link active" href="#affiche_projs" data-toggle="tab"  role="tab">Projections</a>
						</li>
						{% endif %}
						
							
						{% if elements_vid %}
						<li class="nav-item " >
							<a class="nav-link {% if not elements_proj %} active {% endif %}" href="#affiche_vids" data-toggle="tab"  role="tab">Vidéos</a>
						</li>
						{% endif %}

						{% if elements_auteurs %}
						<li class="nav-item " >
							<a class="nav-link 	{% if not elements_proj%} {% if not elements_vid %} active {% endif %} {% endif %}" href="#affiche_auteurs" data-toggle="tab"  role="tab">JTXWOMEN.MEN	</a>
						</li>
						{% endif %}

					</ul>
			</div>
	</div>
	<div class="card-body">
			

			<div class="tab-content">

					{% if elements_proj %}
					<div class="tab-pane fade show active" id="affiche_projs">

						<table id="table_projs" class="table dt-responsive nowrap " width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Titre</th>
									<th>JTX</th>
									<th>Durée</th>
									<th>Vues</th>
									<th>Catégorie</th>
								</tr>
							</thead>
						
							
							<tbody style="display:none;" id="table_proj_body">
								{% for p in elements_proj %}
								<tr style="" id='table_proj_{{forloop.counter0}}'>
									<td>{{p.titre}}</td>
									<td>{{p.promo}}</td>
									<td>{{p|duration_proj_seconds}}</td>
									<td>{{p.views}}</td>
									<td>{{p.category.titre}}</td>
								</tr>
								{% endfor %}
							</tbody>
					
					</table>

						
						<div class="d-flex flex-column" id="liste_proj" style="margin-top:10px;">
							{% for p in elements_proj %}
								<div id="liste_proj_{{forloop.counter0}}">
								{% include "block_video_proj_liste.html" with video=0 elmt=p horizontal=1 description=1 %}
								</div>
							{% endfor %}
						</div>
						
					</div>	
					{% endif %}






					{% if elements_vid %}
					<div class="tab-pane fade show {% if not elements_proj %} active {% endif %}" id="affiche_vids">
							<table id="table_vids" class="table dt-responsive nowrap " width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Titre</th>
											<th>Date</th>
											<th>Durée</th>
											<th>Vues</th>
											<th>Catégorie</th>
										</tr>
									</thead>
								
									
									<tbody style="display:none;" id="table_vid_body">
										{% for v in elements_vid %}
										<tr style="" id='table_vid_{{forloop.counter0}}'>
											<td>{{v.titre}}</td>
											<td>{{v|get_promo_video}}</td>
											<td>{{v.duree}}</td>
											<td>{{v.views}}</td>
											<td>{{v.category.titre}}</td>
										</tr>
										{% endfor %}
									</tbody>
							
							</table>

							<div class="d-flex flex-column" id="liste_vid" style="margin-top:10px;">
								{% for v in elements_vid %}
									<div id="liste_vid_{{forloop.counter0}}">
										{% include "block_video_proj_liste.html" with video=1 elmt=v horizontal=1 description=1 %}
									</div>
								{% endfor %}
							</div>
					</div>	
					{% endif %}






					{% if elements_auteurs %}
					<div class="tab-pane fade show {% if not elements_proj%} {% if not elements_vid %} active {% endif %} {% endif %}" id="affiche_auteurs">
						{% for a in elements_auteurs %}
							<div style="margin-bottom:5px;">
								<div class="d-flex align-items-center">
				
									<div>
										
											<a href="/jtx/{{a.promo}}" class="d-flex align-items-center justify-content-center no-hover-link {% if a.promo|divisibleby:'2' %}bg-danger{%else%}bg-warning{% endif %}" style="width:50px;height:50px;"
											data-toggle="tooltip" data-placement="bottom" title="Aller sur la page du JTX {{a.promo}}">
											 
												<div class="no-hover-link" style="font-size:30px;color:white;">
													{{a|short_promo}}
												</div>
											  
											  </a>
									</div>
								
									<div style="margin-left:10px;">
										<a href="{{ a|url_auteur }}" class='search_jtxwoman' >{{ a.firstname }} {{ a.lastname }} </a>
										<br>
										<small style="color:rgb(150, 150, 150)">Respo bullshit.</small>	
									</div>
				
								</div>
							</div>
							
						{% endfor %}
					</div>	
					{% endif %}
			</div>
		{% if not elements_proj %}
			{% if not elements_vid  %}
				{% if not elements_auteurs %}
				Désolé il n'y a aucun résultat.
				{% endif %}
			{% endif %}
		{% endif %}

	</div>
</div>
</div>
</div>



 <script type="text/javascript">

 
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

 	function search_hide_proj(arg){

		var e=document.getElementById(arg);
		if(e.style.display=='none'){
			e.style.display='block	';
		}
		else{
			e.style.display='none';
		}
	}


	

	
	{% if elements_proj %}
	
	$(document).ready(function() {
		$('#table_projs').DataTable({
			searching: false,
			paging:false,
			"bInfo" : false,
			"oLanguage": {
			"sSearch": "Filtrer : "
			}
		});
	});


	document.getElementById('table_projs').addEventListener("click", update_index_proj, false); 
	function update_index_proj(){

		var new_proj_order=[];
		for(i=0;i<document.getElementById('table_proj_body').children.length;i++){
			var k = parseInt(document.getElementById('table_proj_body').children[i].id.split('_')[2]);
			new_proj_order.push(k);
		}
		var new_proj_children=[];
		for(i=0;i<document.getElementById('table_proj_body').children.length;i++){
			new_proj_children.push($('#liste_proj_'+new_proj_order[i].toString()).get(0).outerHTML);
		}
		document.getElementById('liste_proj').innerHTML=new_proj_children.join(" ");
		
	}
	{% endif %}

	{% if elements_vid %}

	$(document).ready(function() {
		$('#table_vids').DataTable({
			searching: false,
			paging:false,
			"bInfo" : false,
			"oLanguage": {
			"sSearch": "Filtrer : "
			}
		});
	});

	document.getElementById('table_vids').addEventListener("click", update_index_vid, false); 
	function update_index_vid(){

		var new_vid_order=[];
		for(i=0;i<document.getElementById('table_vid_body').children.length;i++){
			var k = parseInt(document.getElementById('table_vid_body').children[i].id.split('_')[2]);
			new_vid_order.push(k);
		}

		var new_vid_children=[];
		for(i=0;i<document.getElementById('table_vid_body').children.length;i++){
			new_vid_children.push($('#liste_vid_'+new_vid_order[i].toString()).get(0).outerHTML);
		}
		document.getElementById('liste_vid').innerHTML=new_vid_children.join(" ");
		
	}
	{% endif %}

 </script>

{% endblock %}
