{% extends 'base.html' %}

{% block body %}
{% load app_filters %}


{% if elements_proj %}
<div class="d-flex justify-content-center" style="margin-bottom:15px;">
	<div class="col-12 col-md-6 shadow-div" style="background-color:white;padding:0;">
		<div class='dropdown-header' style='padding-top:15px;'>
			<div class="d-flex justify-content-between align-items-center">
				<div style='color:#CC181E;font-size:20px;' >
					Projections
				</div>
				<div class='' onclick="search_hide_proj('search_proj_liste')">Masquer</div>
			</div>
			
			
		</div>
		<div class="dropdown-divider"></div>
		<div style="padding:5px;padding-bottom:0px;" id="search_proj_liste">
		{% for p in elements_proj %}
			{% include "block_video_proj_liste.html" with video=0 elmt=p horizontal=1 description=1 %}
		{% endfor %}
		</div>
	</div>
</div>
{% endif %}

{% if elements_vid %}
<div class="d-flex justify-content-center" style="margin-bottom:15px;">
	<div class="col-12 col-md-6 shadow-div" style="background-color:white;padding:0;">
		<div class='dropdown-header' style='padding-top:15px;'>
			<div class="d-flex justify-content-between align-items-center">
						<div style='color:#27ae60;font-size:20px;' >
								Vidéos
						</div>
						<div class='' onclick="search_hide_proj('search_vid_liste')">Masquer</div>
					</div>
			</div>
		<div class="dropdown-divider"></div>
		<div style="padding:5px;padding-bottom:0px;" id='search_vid_liste'>
		{% for v in elements_vid %}
			{% include "block_video_proj_liste.html" with video=1 elmt=v horizontal=1 description=1 %}
		{% endfor %}
		</div>
	</div>
</div>
{% endif %}

{% if elements_auteurs %}
<div class="d-flex justify-content-center" style="margin-bottom:15px;">
	<div class="col-12 col-md-6 shadow-div" style="background-color:white;padding:0;">
		<div class='dropdown-header' style='padding-top:15px;'>
				<div class="d-flex justify-content-between align-items-center">
						<div style='color:#3498db;font-size:20px;' >
								JTXWOMEN.MEN
						</div>
						<div class='' onclick="search_hide_proj('search_membre_liste')">Masquer</div>
					</div>
			</div>
			
		
		<div class="dropdown-divider"></div>
		<div style="padding:5px;padding-bottom:0px;" id='search_membre_liste'>
		{% for a in elements_auteurs %}
			<div style="margin-bottom:5px;">
				<div class="d-flex align-items-center">

					<div>
						
							<a href="/jtx/{{a.promo}}" class="d-flex align-items-center justify-content-center no-hover-link {% if a.promo|divisibleby:'2' %}bg-danger{%else%}bg-warning{% endif %}" style="width:50px;height:50px;"
							data-toggle="tooltip" data-placement="bottom" title="Aller sur la page du JTX {{a.promo}}">
							 
								<div class="no-hover-link" style="font-size:30px;color:white;">
									{{a|short_promo}}
								</div>
							  
							  </a>
					</div>
				
					<div style="margin-left:10px;">
						<a href="{{ a|url_auteur }}" class='search_jtxwoman' >{{ a.firstname }} {{ a.lastname }} </a>
						<br>
						<small style="color:rgb(150, 150, 150)">Respo bullshit.</small>	
					</div>

				</div>
			</div>
			
		{% endfor %}
		</div>
	</div>
</div>
{% endif %}




 <script type="text/javascript">

 
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

 	function search_hide_proj(arg){

		var e=document.getElementById(arg);
		if(e.style.display=='none'){
			e.style.display='block	';
		}
		else{
			e.style.display='none';
		}
	}
 </script>

{% endblock %}
