{% extends 'base.html' %}

{% block body %}

{% if video %}
{% load app_filters %}
<div style="margin-top:0;display:table">
<div style="margin-top:0;display:table-row">

<div style="margin-top:0;display:table-cell;vertical-align:top">
    <video id="video" width="896px" height="504px" controls autoplay>
        <source src="{{video.url}}">
		Your browser does not support the video tag.
	</video>


<div class="titre_et_vues">
	<p class="titre_et_vues_titre">{{ video.titre }}</p>
	<p class="titre_et_vues_date">{{ video.date|date:"d/m/Y" }}</p>
	<div class="titre_et_vues_vues_et_jaime">

		<div class="titre_et_vues_vues_et_jaime_vues">
		 {{ video.views }} vues
	 	</div>

		<div class="titre_et_vues_vues_et_jaime_vues_jaime">


		<div class="titre_et_vues_vues_et_jaime_nb_jaime">
			 {{ nb_jaimes }} j'aime
	 	</div>


			{% if request.user.is_authenticated %}
			{% if favorite %}
			    <a href="{% url 'remove_favorite' video.id %}">
						<div class="titre_et_vues_vues_et_jaime_bouton_jaime" style="background-color: red;">
						Je n'aime plus
						</div>
					</a>
			{% else %}

			    <a href="{% url 'add_favorite' video.id %}" >
						<div class="titre_et_vues_vues_et_jaime_bouton_jaime" style="background-color: #50b649;">
							J'aime
						</div>
					</a>
			{% endif %}
			{% endif %}

			</div>

	</div>
	<hr/>
	<p class="titre_et_vues_duree">Durée : {{ video|duration }}</p>
	<p class="titre_et_vues_auteurs">	Auteurs : {{ video|auteurs }}</p>
	<p class="titre_et_vues_tags">
	Tags :
	{% for r in video.relation_tag_set.all %}
		<a class="tag" href="{% url 'tag' r.tag.id 1 %}">{{ r.tag.titre }}</a>
	{% endfor %}
	</p>

</div>

{% if request.user.is_authenticated %}
<br/>
{% if favorite %}
    <a href="{% url 'remove_favorite' video.id %}">Je n'aime plus</a>
{% else %}
    <a href="{% url 'add_favorite' video.id %}">J'aime</a>
{% endif %}
{% endif %}

  <br/>
  Durée : {{ video|duration }}
  <br/>
  Auteurs : {{ video|auteurs }}
  <br/>
  Tags :
  {% for r in video.relation_tag_set.all %}
    <a class="tag" href="{% url 'tag' r.tag.id 1 %}">{{ r.tag.titre }}</a>
  {% endfor %}
    <br/>
    <p>{{ video.description }}</p>
    <br/>
    J'aime : {{ nb_jaimes }} <br/>
    Vues : {{ video.views }}

  <br/>
{% for r in video.relation_comment_set.all %}
    <br/>
    <strong>{{ r.author.username }}</strong> :
    {{ r.comment }}
{% endfor %}


{% if request.user.is_authenticated %}

<br/>
<br/>

<form action="{% url 'comment_video' video.id %}" method="post">
{% csrf_token %}
<input type="text" name="comment" id="comment" />
<input type="submit" value="Poster" />
</form>

{% endif %}
</div>
<div style="vertical-align:top;padding-left:50px;display:table-cell">

<h2>Suggestions</h2>

{% for v in suggestions %}
<a href="{% url 'video' v.id %}">
	<figure style="display:table-cell">
		<img class="img_vid" src="{{v.url}}.png"/>
		<figcaption>{{v.titre}}</figcaption>
	</figure>
</a>
<br/><br/>
{% endfor %}

</div>
</div>
</div>

{% endif %}


<script type="text/javascript">

var video = document.getElementById('video')

video.addEventListener('ended',next,false);
function next(e) {
	window.location.replace("{% url 'video' suggestions.0.id %}")
}

</script>

{% endblock %}
