{% extends 'base.html' %}

{% block body %}

{% if video %}
{% load app_filters %}
<div style="margin-top:0;display:table">
<div style="margin-top:0;display:table-row">
<div style="margin-top:0;display:table-cell;vertical-align:top">
	<h1>{{ video.titre }}</h1>
    <h2>{{ video.date|date:"d/m/Y" }}</h2>
    <video id="video" width="1008px" height="567px" controls autoplay>
        <source src="{{video.url}}">
		Your browser does not support the video tag.
	</video>
  
{% if request.user.is_authenticated %}
<br/>
{% if favorite %}
    <a href="{% url 'remove_favorite' video.id %}">Je n'aime plus</a>
{% else %}
    <a href="{% url 'add_favorite' video.id %}">J'aime</a>
{% endif %}
{% endif %}

  <br/>
  Durée : {{ video|duration }}
  <br/>
  Auteurs : {{ video|auteurs }}
  <br/>
  Tags :
  {% for r in video.relation_tag_set.all %}
    <a class="tag" href="{% url 'tag' r.tag.id 1 %}">{{ r.tag.titre }}</a>
  {% endfor %}
    <br/>
    <p>{{ video.description }}</p>
    <br/>
    J'aime : {{ nb_jaimes }} <br/>
    Vues : {{ video.views }}

  <br/>
{% for r in video.relation_comment_set.all %}
    <br/>
    <strong>{{ r.author.username }}</strong> :
    {{ r.comment }}
{% endfor %}


{% if request.user.is_authenticated %}

<br/>
<br/>

<form action="{% url 'comment_video' video.id %}" method="post">
{% csrf_token %}
<input type="text" name="comment" id="comment" />
<input type="submit" value="Poster" />
</form>

{% endif %}
</div>
<div style="vertical-align:top;padding-left:50px;display:table-cell">

<h2>Suggestions</h2>

{% for v in suggestions %}
<a href="{% url 'video' v.id %}">
	<figure style="display:table-cell">
		<img width="200px" src="{{v.url}}.png"/>
		<figcaption style="font-size:20px">{{v.titre}}</figcaption>
	</figure>
</a>
<br/><br/>
{% endfor %}

</div>
</div>
</div>

{% endif %}


<script type="text/javascript">

var video = document.getElementById('video')

video.addEventListener('ended',next,false);
function next(e) {
	window.location.replace("{% url 'video' suggestions.0.id %}")
}

</script>

{% endblock %}
