{% extends 'base.html' %}

{% block body %}

{% if video %}
{% load app_filters %}

<div style="margin-top:0;display:table">
<div style="margin-top:0;display:table-row">

<div style="margin-top:0;display:table-cell;vertical-align:top">

    <video id="video" width="720px" height="405px" controls autoplay>
        <source src="{{video.url}}">
		Your browser does not support the video tag.
	</video>


<div class="titre_et_vues" id="titre_et_vues_id">
	<p class="titre_et_vues_titre">{{ video.titre }}</p>
	<p class="titre_et_vues_date">{{ video.date|date:"d/m/Y" }}</p>
	<div class="titre_et_vues_vues_et_jaime">

		<div class="titre_et_vues_vues_et_jaime_vues">
		 {{ video.views }} vues
	 	</div>

		<div class="titre_et_vues_vues_et_jaime_vues_jaime">


		<div class="titre_et_vues_vues_et_jaime_nb_jaime">
			 {{ nb_jaimes }} j'aime
	 	</div>


			{% if request.user.is_authenticated %}
			{% if favorite %}
			    <a href="{% url 'remove_favorite' video_id=video.id home=0 %}" class="lien_jaime_rouge">
						<div class="titre_et_vues_vues_et_jaime_bouton_jaime_rouge">
						Je n'aime plus
						</div>
					</a>
			{% else %}

			    <a href="{% url 'add_favorite' video.id %}" class="lien_jaime_vert">
						<div class="titre_et_vues_vues_et_jaime_bouton_jaime_vert">
							J'aime
						</div>
					</a>
			{% endif %}
			{% endif %}

			</div>
	</div>

  <hr>

  <div class="titre_et_vues_haut_deuxieme_partie">
    <div class="titre_et_vues_duree">{{ video|duration }}</div>
  	<div class="titre_et_vues_auteurs">{{ video|auteurs }}</div>
  </div>

  <br>

	<div class="titre_et_vues_tags">
	Tags :
	{% for r in video.relation_tag_set.all %}
		<a class="tag" href="{% url 'tag' r.tag.id 1 %}">{{ r.tag.titre }}</a>
	{% endfor %}
  </div>

</div>

<div class="description_video">
  {{ video.description }}
</div>



<div class="commentaires_video" id="commentaires_video_id">
  <div class="commentaires_video_titre">
    Commentaires
  </div>
  {% for r in video.relation_comment_set.all %}
      <hr>
      <div class="commentaires_nom">
        {{ r.author.username }}
      </div>

      <div class="commentaires_commentaires">
        {{ r.comment }}
      </div>
  {% endfor %}
</div>


<div class="commentaires_video_faire">
  {% if request.user.is_authenticated %}

  <form action="{% url 'comment_video' video.id %}" method="post">
  {% csrf_token %}
  <textarea name="comment" rows="3" id="comment"></textarea>
  <input type="submit" value="Poster" id='bouton_comment'/>
  </form>

  {% endif %}
</div>
<!-- -->

</div>


<div style="vertical-align:top;padding-left:50px;display:table-cell">

<h2>Suggestions</h2>

{% for v in suggestions %}
<a href="{% url 'video' v.id %}">
	<figure style="display:table-cell">
		<img class="img_vid" src="{{v.url}}.png"/>
		<figcaption>{{v.titre}}</figcaption>
	</figure>
</a>
<br/><br/>
{% endfor %}

</div>
</div>
</div>

{% endif %}


<script type="text/javascript">

var video = document.getElementById('video')

video.addEventListener('ended',next,false);
function next(e) {
	window.location.replace("{% url 'video' suggestions.0.id %}")
}

</script>

{% endblock %}
