{% extends 'base.html' %}

{% block body %}
{% if elements %}

{% load app_filters %}
<div class="container">
	<h1>Toutes les vidéos</h1>

<div class="liste_videos">
	{% for v in elements %}

	<div class="bloc_video">
		<a href="{% url 'video' v.id %}">
		<figure>
				<img class="img_vid" src="{{v.url}}.png"/>
				<figcaption class="legende_vid_duree">
						{{v|duration}}
				</figcaption>
		</figure>
		</a>

		<a href="{% url 'video' v.id %}">
				<div class="legende_vid_titre">
						{{v.titre|short}}
				</div>
		</a>

		<div class="legende_vid_auteur">
					<a href="#">
						{{v|auteurs|striptags}}
					</a>
					-
					{{v.views}}
					 vues
		</div>
	</div>

	{% endfor %}
	</div>
	</div>
{% endif %}
{% endblock %}
