{% extends 'base.html' %}

{% block body %}
{% if elements %}

{% load app_filters %}

	{% for v in elements %}
    <a href="{% url 'video' v.id %}">
        <figure style="display:table-cell">
            <img src="{{v.url}}.png"/>
            <figcaption style="font-size:15">
                {{v.titre}}
                <br/>
                {{v|duration}}
                <br/>
                {{v|auteurs}}
            </figcaption>
        </figure>
    </a>
	{% endfor %}

{% endif %}
{% endblock %}
