* {
  font-family: Arial;
}

#lateral_bar {
  position: absolute;
  top:0;
  bottom:0;
  width:250px;
  background-color: #AAAAAA;
  padding-left: 20px;
}

#central {
  position: absolute;
  top: 0;
  bottom:0;
	margin-left: 270px;
}

#body {
  float: right;
  margin-top:30px;
  padding-top: 20px;
  padding-left: 50px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #DDDDDD;
}

.tag {
  font-family: 'Comic Sans MS';
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right:10px;
  background-color: yellow;
}

h1 {
  color: blue;
}

a {
  color: #3040FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#navigation_bar li {
    float: left;
}

#navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation_bar li a:hover {
    background-color: #4CAF50;
		text_decoration: none;
}
